<!DOCTYPE html>
<html lang="en" id="chc">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <title><%= typeof title != "undefined" && title ? title + " | " : "" %>COCOHONEY COSMETICS</title>
    <meta name="keywords" content="cosmetics, london, beauty, fashion">
    <meta name="description" content="Community, Beauty Network, Family">
    <meta name="robots" content="index, follow">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@cocohoneyltd" />
    <meta name="twitter:creator" content="@cocohoneyltd" />
    <meta name="twitter:description" content="Community, Beauty Network, Family." />
    <meta name="twitter:image" content="<%- location_origin %>/favicon.ico" />
    <meta property="og:url" content="<%- location_origin %>" />
    <meta property="og:title" content="Cocohoney Cosmetics" />
    <meta property="og:description" content="Community, Beauty Network, Family." />
    <meta property="og:image" content="<%- location_origin %>/favicon.ico" />

    <link rel="stylesheet" type="text/css" href="/css/defaults.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/async/3.2.1/async.min.js"></script>
    <script src="/js/main.js"></script>
</head>

<body id="<%= typeof pagename != 'undefined' && pagename ? pagename+'-page' : '' %>">
    <div id="page-bg-underlay">
        <video playsinline autoplay muted loop><source src="https://res.cloudinary.com/natzen/video/upload/h_0.75,c_scale/cocohoney/site-content/site-bg.mp4"></video>
    </div>

    <header>
        <div class="inner-header container">
            <div class="row no-gutters">
                <section class="logo-section header-content-section col-sm-9 col-8 float-left">
                    <a id="chc-logo" href="/">COCOHONEY COSMETICS</a>
                </section>
                <%_ if (!user) { _%>
                <section class="links-section header-content-section col float-left">
                    <a class="link fab fa-instagram" href="https://www.instagram.com/cocohoney_cosmetics/"></a>
                </section>
                <section class="links-section header-content-section col float-left">
                    <a class="link fal fa-user" id="context-menu-link"></a>
                    <div id="link-context-menu">
                        <a class="link" href="/account/login">Customer Login</a>
                        <a class="link" href="/ambassador/account/login">Ambassador Login</a>
                    </div>
                </section>
                <%_ } else { _%>
                <section class="links-section header-content-section col-2 float-left">
                    <div class="row">
                        <div class="col-sm-6 float-left">
                            <%_ if (is_admin) { _%>
                            <a href="/admin">ADMIN</a>
                            <%_ } else {
                                const acc_href = is_ambassador ? '/ambassador/account' : '/account'; _%>
                            <a href="<%= acc_href %>">PROFILE</a>
                            <%_ } _%>
                        </div>
                        <div class="col-sm-6 float-left">
                            <a href="/<%= is_admin ? 'admin' : 'account' %>/logout">LOGOUT</a>
                        </div>
                    </div>
                </section>
                <%_ }
                const admin_mode = is_admin && url === "/admin"; _%>
                <section class="nav-section header-content-section col float-left">
                    <a class="fal fa-<%= admin_mode ? 'cog' : 'bars' %>" id="nav-icon"></a>
                    <nav>
                        <a class="container fal fa-times" id="nav-close-icon"></a>

                        <%_ if (admin_mode) { _%>
                        <div class="nav nav-pills flex-column">
                            <a class="link nav-link" data-toggle="pill" href="#home">DASHBOARD</a>
                            <a class="link nav-link" data-toggle="pill" href="#about">ABOUT PAGE</a>
                            <a class="link nav-link" data-toggle="pill" href="#highlights-posts">HIGHLIGHTS POSTS</a>
                            <a class="link nav-link" data-toggle="pill" href="#sale">SALE</a>
                            <a class="link nav-link" data-toggle="pill" href="#event">EVENTS</a>
                            <a class="link nav-link" data-toggle="pill" href="#product">PRODUCTS</a>
                            <a class="link nav-link" data-toggle="pill" href="#overview-image">OVERVIEW IMAGES</a>
                            <a class="link nav-link" data-toggle="pill" href="#banner">BANNER SLIDES</a>
                            <a class="link nav-link" data-toggle="pill" href="#discount-code">DISCOUNT CODES</a>
                            <a class="link nav-link" data-toggle="pill" href="#lookbook">LOOKBOOK UPLOAD</a>
                            <a class="link nav-link" data-toggle="pill" href="#faqs">FAQs</a>
                            <a class="link nav-link" data-toggle="pill" href="#shipping">SHIPPING & DELIVERY</a>
                            <a class="link nav-link" data-toggle="pill" href="#box">BOX DEALS</a>
                            <a class="link nav-link" data-toggle="pill" href="#mail">MAIL</a>
                        </div>
                        <%_ } else { _%>
                        <a class="link" href="/">HOME</a>
                        <a class="link" href="/about">ABOUT US</a>
                        <a class="link sub-list-toggle">3D MINK EYELASHES</a>
                        <div class="sub-list">
                            <%_ const collections = [...new Set(products_all.filter(p => p.category === "lashes").map(p => p.product_collection))];
                                collections.forEach(c => { _%>
                            <a class="link" href="/product/lashes/collection/<%= c %>"><%= c.toUpperCase() %> COLLECTION</a>
                            <%_ }) _%>
                        </div>
                        <a class="link sub-list-toggle">MAKE UP PALETTES</a>
                        <div class="sub-list">
                            <a class="link" href="/product/palettes/magnetic">MAGNETIC PALETTE</a>
                        </div>
                        <a class="link sub-list-toggle">SETS & BUNDLES DEALS</a>
                        <div class="sub-list">
                            <%_ boxes_all.forEach(box => { _%>
                            <a class="link" href="/deal/<%= box.name %>"><%= box.name.toUpperCase() %></a>
                            <%_ }) _%>
                        </div>
                        <a class="link sub-list-toggle">FACE</a>
                        <div class="sub-list">
                            <a class="link" href="/product/highlighters">HIGHLIGHTERS</a>
                        </div>
                        <a class="link sub-list-toggle">LIPS</a>
                        <div class="sub-list">
                            <%_ const lips_categories = [...new Set(products_all.filter(p => /^lips?/i.test(p.category)).map(p => p.category))];
                                lips_categories.forEach(lc => { _%>
                            <a class="link" href="/product/<%= lc %>"><%= lc.replace(/_/g, " ").toUpperCase() %></a>
                            <%_ }) _%>
                        </div>
                        <a class="link" href="/shop/subscription">MONTHLY LASHES</a>
                        <a class="link sub-list-toggle">LOOKBOOK</a>
                        <div class="sub-list">
                            <a class="link" href="/lookbook/gallery">GALLERY</a>
                        </div>
                        <a class="link" href="/events">EVENTS</a>
                        <%_ if (!user) { _%>
                        <a class="link" href="/ambassador/account/login">AMBASSADOR LOGIN</a>
                        <%_ } } _%>
                    </nav>
                </section>
            </div>
        </div>
        <div id="banner-1">
            <div id="banner-1-carousel" class="carousel slide" data-ride="carousel" data-interval="5000" data-pause="false">
                <div class="carousel-inner">
                    <%_ banner_slides.forEach((slide, i) => { _%>
                    <div class="carousel-item<%- i === 0 ? ' active' : '' %>">
                        <%- slide.text %>
                    </div>
                    <%_ }) _%>
                </div>
            </div>
        </div>
    </header>
    <main>
