<!DOCTYPE html>
<html lang="en" class="chc">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/img/cs-icon.png">
    <title><%= title ? title + " | " : "" %>CS Records</title>
    <meta name="keywords" content="cosmetics, london, merch, merchandise">
    <meta name="description" content="Creative Souls. Culture Consolidated.">
    <meta name="robots" content="index, follow">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@thecsrecords" />
    <meta name="twitter:creator" content="@thecsrecords" />
    <meta name="twitter:description" content="Culture Consolidated." />
    <meta name="twitter:image" content="<%- location_origin %>/img/cs-logo.png" />
    <meta property="og:url" content="<%- location_origin %>" />
    <meta property="og:title" content="CS Records" />
    <meta property="og:description" content="Culture Consolidated." />
    <meta property="og:image" content="<%- location_origin %>/img/cs-logo.png" />

    <link rel="stylesheet" type="text/css" href="/css/defaults.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
</head>

<body id="<%= pagename ? pagename+'-page' : '' %>">
    <header>
        <div id="logo"></div>
        <nav>
            <a href="/home">HOME</a>
        </nav>
    </header>

    <main>
