<!DOCTYPE html>
<html lang="en" class="chc">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <title><%= typeof title != "undefined" && title ? title + " | " : "" %>COCOHONEY COSMETICS</title>
    <meta name="keywords" content="cosmetics, london, beauty, fashion">
    <meta name="description" content="Community, Beauty Network, Family">
    <meta name="robots" content="index, follow">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@cocohoneyltd" />
    <meta name="twitter:creator" content="@cocohoneyltd" />
    <meta name="twitter:description" content="Community, Beauty Network, Family." />
    <meta name="twitter:image" content="<%- location_origin %>/favicon.ico" />
    <meta property="og:url" content="<%- location_origin %>" />
    <meta property="og:title" content="Cocohoney Cosmetics" />
    <meta property="og:description" content="Community, Beauty Network, Family." />
    <meta property="og:image" content="<%- location_origin %>/favicon.ico" />

    <link rel="stylesheet" type="text/css" href="/css/defaults.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
</head>

<body id="<%= typeof pagename != 'undefined' && pagename ? pagename+'-page' : '' %>">
    <div class="bg-underlay bg-body">
        <video playsinline autoplay muted loop><source src="https://res.cloudinary.com/natzen/video/upload/h_0.75,c_scale/cocohoney/site-content/site-bg.mp4"></video>
    </div>

    <header>
        <div class="inner-header container">
            <div class="row">
                <div class="logo-section header-content-section col-xs-4">
                    <div id="chc-logo">
                        <a href="/">COCOHONEY COSMETICS</a>
                    </div>
                </div>
                <div class="nav-section header-content-section col-xs-4">
                    <div style="display: inline-block" id="nav-toggle">
                        <a class="fal fa-bars" style="font-size: 1.5em"></a>
                    </div>
                    <nav>
                        <a class="fal fa-times" id="nav-close-icon"></a>
                        <a class="link" href="/" style="margin-top: 5em">HOME</a>
                        <a class="link" href="/about">ABOUT US</a>
                        <a class="link sub-list-toggle">3D MINK EYELASHES</a>
                        <div class="sub-list">
                            <%_ const collections = [...new Set(products_all.filter(p => p.category === "lashes").map(p => p.product_collection))];
                                collections.forEach(c => { _%>
                            <a class="link" href="/product/lashes/collection/<%= c %>"><%= c.toUpperCase() %> COLLECTION</a>
                            <%_ }) _%>
                        </div>
                        <a class="link sub-list-toggle">MAKE UP PALETTES</a>
                        <div class="sub-list">
                            <a class="link" href="/product/palettes/magnetic">MAGNETIC PALETTE</a>
                        </div>
                        <a class="link sub-list-toggle">SETS & BUNDLES DEALS</a>
                        <div class="sub-list">
                            <%_ boxes_all.forEach(box => { _%>
                            <a class="link" href="/deal/<%= box.name %>"><%= box.name.toUpperCase() %></a>
                            <%_ }) _%>
                        </div>
                        <a class="link sub-list-toggle">LIPS</a>
                        <div class="sub-list">
                            <%_ const lips_categories = [...new Set(products_all.filter(p => /^lips?/i.test(p.category)).map(p => p.category))];
                                lips_categories.forEach(lc => { _%>
                            <a class="link" href="/product/<%= lc %>"><%= lc.replace(/_/g, " ").toUpperCase() %></a>
                            <%_ }) _%>
                        </div>
                        <a class="link sub-list-toggle">LOOKBOOK</a>
                        <div class="sub-list">
                            <a class="link" href="/lookbook/gallery">GALLERY</a>
                        </div>
                        <a class="link" href="/events">EVENTS</a>
                        <%_ if (!user) { _%>
                        <a class="link" href="/ambassador/account/login">AMBASSADOR LOG IN</a>
                        <%_ } _%>
                    </nav>
                </div>
                <div class="links-section header-content-section col-xs-4">
                    <%_ if (user) {
                        if (user.admin) { _%>
                    <a href="/admin">ADMIN</a> <span class="dt-view">&bullet;</span>
                    <%_ } else { _%>
                    <a href="/<%= is_ambassador ? 'ambassador/' : '' %>account">PROFILE</a> <span class="dt-view">&bullet;</span>
                    <%_ } _%>
                    <a href="/<%= is_admin ? 'admin' : 'account' %>/logout">LOGOUT</a>
                    <%_ } else { _%>
                    <a class="link-icon fal fa-user-circle" href="/account/login"></a>
                    <a class="link-icon fab fa-instagram" href="https://www.instagram.com/cocohoney_cosmetics/"></a>
                    <%_ } _%>
                </div>
            </div>
        </div>
        <div id="banner-1">
            <div id="banner-1-carousel" class="carousel slide" data-ride="carousel" data-interval="5000" data-pause="false">
                <div class="carousel-inner">
                    <%_ banner_slides.forEach((slide, i) => { _%>
                    <div class="item<%- i === 0 ? ' active' : '' %>">
                        <%- slide.text %>
                    </div>
                    <%_ }) _%>
                </div>
            </div>
        </div>
    </header>
    <main>
