<%- include ('partials/header') -%>
    <section class="section-padding">
        <div class="textbody">
            <h1>About Us</h1>
            <br>
            <p><%- info.main_text.replace(/cocohoney( cosmetics)?|honey adeleye/gi, m => `<span>${m}</span>`).replace(/\r?\n/g, "</p><p>").replace(/<p><\/p>/g, "") %></p>
            <br>
            <h1>Meet The CEO</h1>
            <%_ if (info.image.url) { _%>
            <div class="info-img"><img src="<%= info.image.url %>"></div>
            <%_ } else { _%>
            <br>
            <%_ } _%>
            <p><%- info.founder_text.replace(/cocohoney( cosmetics)?|honey adeleye/gi, m => `<span>${m}</span>`).replace(/\r?\n/g, "</p><p>").replace(/<p><\/p>/g, "") %></p>
        </div>
    </section>
<%- include ('partials/footer') -%>