<%- include ('partials/header') -%>
    <section>
        <div class="tab-content container">
            <div id="home" class="tab-pane fade show active">
                <%- include ('partials/admin/home') -%>
            </div>

            <div id="about" class="tab-pane fade">
                <h1>ABOUT PAGE</h1>
                <%- include ('partials/admin/about') -%>
            </div>

            <div id="highlights-posts" class="tab-pane fade">
                <h1>HIGHLIGHTS POSTS</h1>
                <%- include ('partials/admin/highlights-post') -%>
            </div>

            <div id="sale" class="tab-pane fade">
                <h1>SALE</h1>
                <%- include ('partials/admin/sale') -%>
            </div>

            <div id="event" class="tab-pane fade">
                <h1>EVENTS</h1>
                <%- include ('partials/admin/event') -%>
            </div>

            <div id="product" class="tab-pane fade">
                <h1>PRODUCTS</h1>
                <%- include ('partials/admin/product') -%>
            </div>

            <div id="overview-image" class="tab-pane fade">
                <h1>OVERVIEW IMAGES</h1>
                <%- include ('partials/admin/overview-image') -%>
            </div>

            <div id="banner" class="tab-pane fade">
                <h1>BANNER SLIDES</h1>
                <%- include ('partials/admin/banner') -%>
            </div>

            <div id="discount-code" class="tab-pane fade">
                <h1>DISCOUNT CODES</h1>
                <%- include ('partials/admin/discount-code') -%>
            </div>

            <div id="lookbook" class="tab-pane fade">
                <h1>LOOKBOOK UPLOAD</h1>
                <%- include ('partials/admin/lookbook') -%>
            </div>

            <div id="faqs" class="tab-pane fade">
                <h1>FAQs</h1>
                <%- include ('partials/admin/faqs') -%>
            </div>

            <div id="shipping" class="tab-pane fade">
                <h1>SHIPPING & DELIVERY</h1>
                <%- include ('partials/admin/shipping-method') -%>
            </div>

            <div id="box" class="tab-pane fade">
                <h1>BOX DEALS</h1>
                <%- include ('partials/admin/box') -%>
            </div>

            <div id="mail" class="tab-pane fade">
                <h1>MAIL</h1>
                <%- include ('partials/admin/mail') -%>
            </div>
        </div>
    </section>
    <script>
        $("#nav-pills-collapse").click(function() {
            $(this).closest(".nav-pills-container").toggleClass("expanded");
        });

        var showMessage = function(result) {
            var reload = confirm(result + "\n\nRefresh page?");
            if (reload) location.reload();
        };

        $(".file-upload-container .add-remove-control button").click(function(e) {
            var $container = $(this).closest(".file-upload-container");
            var $form = $($container).closest("form");
            var prefix = $(this).data("prefix");
            var suffix = Date.now();
            switch (this.className) {
                case "add":
                    $container.clone(true)
                    .find(":file").attr("id", prefix + suffix +"").end()
                    .find(".clear-uploads").attr("data-id", prefix + suffix +"").end()
                    .find(":input").attr("disabled", false).not("button").val("").end().end()
                    .insertAfter($container);
                    break;
                case "remove":
                    if ($form.find(".file-upload-container").length > 1) $container.remove();
                    break;
            }
        });

        $("fieldset .input-item :input").on("change keyup", function() {
            var $groupInputs = $(this).closest(".input-item").find(":input");
            var notEmpty = $groupInputs.filter(function() { return this.value }).length > 0;
            $groupInputs.attr("required", notEmpty);
        });

        $.post("/admin/search", function(docs) {
            $(".edit-form-tab select[id*='_id']").change(function() {
                var $form = $(this).closest("form");
                var id = this.value;
                var result = (docs || []).filter(function(item) { return id == item._id })[0] || {};
                $form.find(".clear-uploads").click();
                $form.find(".img-preview").removeClass("show").empty();
                if (!Object.keys(result).length) return $form.get(0).reset();

                $form.find("#pre_release_edit").prop("checked", result.pre_release);
                $form.find("#product_name_edit").val(result.name);
                $form.find("#price_edit").val(result.price ? (parseFloat(result.price) / 100).toFixed(2) : "");
                $form.find("#price_amb_edit").val(result.price_amb ? (parseFloat(result.price_amb) / 100).toFixed(2) : "");
                $form.find("#stock_qty_edit").val(result.stock_qty);
                $form.find("#product_category_edit").val(result.category);
                $form.find("#product_collection_edit").val(result.product_collection);
                $form.find("#product_info_edit").val(result.info);

                $form.find("#banner_text_edit").val(result.text);

                $form.find("#discount_code_value_edit").val(result.code);
                $form.find("#discount_percentage_edit").val(result.percentage);
                $form.find("#discount_code_expiry_date_edit").val(result.expiry_date ? new Date(result.expiry_date).toISOString().slice(0, 10) : "");

                $form.find("#question_edit").val(result.question);
                $form.find("#answer_edit").val(result.answer);

                $form.find("#method_name_edit").val(result.name);
                $form.find("#method_fee_edit").val(result.fee ? (parseFloat(result.fee) / 100).toFixed(2) : "");
                $form.find("#method_info_edit").val(result.info);

                $form.find("#box_name_edit").val(result.name);
                $form.find("#box_price_edit").val(result.price ? (parseFloat(result.price) / 100).toFixed(2) : "");
                $form.find("#box_max_items_edit").val(result.max_items);
                $form.find("#box_info_edit").val(result.info);
                $form.find(".box_item_all").prop("checked", false);
                $form.find(".box_item_edit").prop("checked", false).each(function() {
                    var checked = (result.products_inc || []).includes(this.value);
                    this.checked = checked;
                });

                $form.find("#overview_image_url_edit").val(result.url);
                $form.find(".img-preview").toggleClass("show", !!result.url).append(result.url ? $("<img src='" + result.url + "'>") : "");

                $form.find("#highlights_post_title_edit").val(result.title);
                $form.find("#highlights_post_text_body_edit").val(result.text_body);
                $form.find("#highlights_post_link_edit").val((result.link && result.link.charAt(0) === "/" ? location.origin : "") + result.link);
                $form.find(".img-preview:first-child").toggleClass("show", !!result.media_lg).append(result.media_lg ? $("<img src='" + result.media_lg.url + "'>") : "");
                var media_sm = result.media_sm ? $(result.media_sm.media_type === "image" ? "<img src='" + result.media_sm.url + "'>" : "<video playsinline autoplay muted loop><source src='"+ result.media_sm.url +"'></source></video>") : "";
                $form.find(".img-preview:last-child").toggleClass("show", !!result.media_sm).append(media_sm);

                $form.find("#event-title-edit").val(result.title);
                $form.find("#event-date-edit").val(result.date ? new Date(result.date).toISOString().slice(0, 10) : "");
                $form.find("#event-hour-edit").val(result.date ? new Date(result.date).getHours() : "");
                $form.find("#event-minute-edit").val(result.date ? new Date(result.date).getMinutes() : "");
                $form.find("#event-time-tbc-edit").prop("checked", result.ttbc);
                $form.find("#event-info-edit").val(result.info);
                $form.find("#event-price-edit").val(result.price ? (parseFloat(result.price) / 100).toFixed(2) : "");
                $form.find("#event-stock-qty-edit").val(result.stock_qty);
            });
        });

        $(".text-emphasis-styles > button").click(function(e) {
            e.preventDefault();
            var $textarea = $("#"+this.parentNode.dataset.id);
            var value = $textarea.val();
            var selectionStart = $textarea.prop("selectionStart");
            var selectionEnd = $textarea.prop("selectionEnd");
            var selection = value.slice(selectionStart, selectionEnd);
            var before = value.slice(0, selectionStart);
            var after = value.slice(selectionEnd, value.length);
            var em = this.firstChild.tagName.toLowerCase();
            if (selection.length) $textarea.val( before + "<"+em+">" + selection +"</"+em+">" + after );
            $textarea.get(0).focus();
        });

        $("#homepage_image_file").change(function() {
            var $form = $(this).closest("form");
            var files = this.files;
            $form.find("#homepage_image_filename").val(files && files.length ? files[0].name.replace(/\.[a-zA-Z0-9]{3,4}$/gi, "") : "");
        });

        $("form").submit(function(e) {
            e.preventDefault();
            var form = this;
            var btnController = new submitBtnController(form);

            $.post(form.action, $(form).serializeArray(), function(result) {
                showMessage(result);
                $(form).find(".clear-uploads").click();
                form.reset();
            }).fail(function(err, status, codeMessage) {
                Alert(codeMessage + (err ? ": " + err.responseText : ""));
            }).always(function() {
                btnController.finish();
            });
        });

        $(".delete-ambassador-form").off("submit").submit(function(e) {
            e.preventDefault();
            var confirmation = confirm("Are you sure you want to delete this ambassador?");
            if (!confirmation) return false;
            var btnController = new submitBtnController(this);
            $.post(this.action, $(this).serializeArray(), function(result) {
                var confirmation2 = confirm(result + "\nReload to see changes?");
                if (confirmation2) location.reload();
            }).fail(function(err, status, codeMessage) {
                Alert(codeMessage + (err ? ": " + err.responseText : ""));
            }).always(function() {
                btnController.finish();
            });
        });

        $(".verify-ambassador-form").off("submit").submit(function(e) {
            e.preventDefault();
            var confirmation = confirm("Verify this ambassador?");
            if (!confirmation) return false;
            var btnController = new submitBtnController(this);
            $.post(this.action, $(this).serializeArray(), function(result) {
                var confirmation2 = confirm(result + "\nReload to see changes?");
                if (confirmation2) location.reload();
            }).fail(function(err, status, codeMessage) {
                Alert(codeMessage + (err ? ": " + err.responseText : ""));
            }).always(function() {
                btnController.finish();
            });
        });

        $(".remove-form-tab form").off("submit").submit(function(e) {
            e.preventDefault();
            var form = this;
            var data = $(form).serializeArray();
            var confirmation = confirm("Are you sure you want to delete "+ (data.length > 1 ? "these" : "this") +"?");
            if (!confirmation) return false;
            var btnController = new submitBtnController(form);
            $.post(form.action, data, function(result) {
                showMessage(result);
                $(form).find(":input:checked, :input:checked + span, :input:checked + span + br").slideUp(function() {
                    $(this).remove();
                    data.forEach(function(field) { $("option[value="+ field.value +"]").remove() });
                });
            }).fail(function(err, status, codeMessage) {
                Alert(codeMessage + (err ? ": " + err.responseText : ""));
            }).always(function() {
                btnController.finish();
            });
        });

        $(".filter-search-input").on("input", function(e) {
            var $items = $(e.target).closest(".search-scope").find(".list-item");
            !e.target.value ? $items.show() : $items.hide().filter(function() {
                var regex = new RegExp("\\b" + e.target.value.replace(/\W/g, function(m) { return "\\" + m }), "gi");
                return regex.test($(this).find(".search-option").text())
            }).show();
        });

        var $info = $("<div>").addClass("info-bubble");

        $(window).on("load resize scroll", function(e) {
            let top = ($("#nav-icon").offset().top + $("#nav-icon").height() + 10) - window.pageYOffset;
            let left = $("#nav-icon").offset().left + $("#nav-icon").width();
            $info.css({ top, left });

            if (e.type == "load" && !cookies.first_page_load) {
                let text = "You can now click the settings icon for links to the other admin pages";
                text = "<p>"+ text.replace(/\n/g, "</p><p>") +"</p>";
                $info.addClass("align-right point-top-right").appendTo(document.body).html(text).fadeIn().delay(4000).fadeOut();
                document.cookie = "first_page_load=true; path="+ location.pathname +";";
            }
        })
    </script>
<%- include ('partials/footer') -%>
