<%- include ('partials/header') -%>
    <section>
        <div class="mb-view-md section-dropdown-options">
            <label>SELECT SECTION <i class="dropdown-arrow fal fa-chevron-down"></i></label>
            <select>
                <option value="#home">HOME</option>
                <option value="#sale">SALE</option>
                <option value="#product">PRODUCTS</option>
                <option value="#overview-image">OVERVIEW IMAGES</option>
                <option value="#banner">BANNER SLIDES</option>
                <option value="#discount_code">DISCOUNT CODES</option>
                <option value="#lookbook">LOOKBOOK UPLOAD</option>
                <option value="#faqs">FAQs</option>
                <option value="#shipping">SHIPPING METHODS</option>
                <option value="#box">BOX DEALS</option>
                <option value="/admin/mail/form">MAIL</option>
            </select>
        </div>
        <div class="nav-pills-container dt-view-md">
            <ul class="nav nav-pills">
                <li class="active"><a data-toggle="pill" href="#home">HOME</a></li>
                <li><a data-toggle="pill" href="#sale">SALE</a></li>
                <li><a data-toggle="pill" href="#product">PRODUCTS</a></li>
                <li><a data-toggle="pill" href="#overview-image">OVERVIEW IMAGES</a></li>
                <li><a data-toggle="pill" href="#banner">BANNER SLIDES</a></li>
                <li><a data-toggle="pill" href="#discount_code">DISCOUNT CODES</a></li>
                <li><a data-toggle="pill" href="#lookbook">LOOKBOOK UPLOAD</a></li>
                <li><a data-toggle="pill" href="#faqs">FAQs</a></li>
                <li><a data-toggle="pill" href="#shipping">SHIPPING METHODS</a></li>
                <li><a data-toggle="pill" href="#box">BOX DEALS</a></li>
                <li><a data-toggle="none" href="/admin/mail/form">MAIL</a></li>
            </ul>
        </div>
        <div class="tab-content container">
            <div id="home" class="tab-pane fade in active" style="text-align: center">
            <%- include ('partials/admin/home') -%>
            </div>

            <div id="sale" class="tab-pane fade">
            <%- include ('partials/admin/sale') -%>
            </div>

            <div id="product" class="tab-pane fade">
            <%- include ('partials/admin/product') -%>
            </div>

            <div id="overview-image" class="tab-pane fade">
            <%- include ('partials/admin/overview-image') -%>
            </div>

            <div id="banner" class="tab-pane fade">
            <%- include ('partials/admin/banner') -%>
            </div>

            <div id="discount_code" class="tab-pane fade">
            <%- include ('partials/admin/discount_code') -%>
            </div>

            <div id="lookbook" class="tab-pane fade">
            <%- include ('partials/admin/lookbook') -%>
            </div>

            <div id="faqs" class="tab-pane fade">
            <%- include ('partials/admin/faqs') -%>
            </div>

            <div id="shipping" class="tab-pane fade">
            <%- include ('partials/admin/shipping_method') -%>
            </div>

            <div id="box" class="tab-pane fade">
            <%- include ('partials/admin/box') -%>
            </div>
        </div>
    </section>
    <script>
        var showMessage = function(result) {
            var reload = confirm(result + "\n\nRefresh page?");
            if (reload) location.reload();
        };

        $(".file-upload-container .add-remove-control button").click(function(e) {
            var $container = $(this).closest(".file-upload-container");
            var $form = $($container).closest("form");
            var prefix = $(this).data("prefix");
            var suffix = Date.now();
            switch (this.className) {
                case "add":
                    $container.clone(true)
                    .find(":file").attr("id", prefix + suffix +"").end()
                    .find(".clear-uploads").attr("data-id", prefix + suffix +"").end()
                    .find(":input").attr("disabled", false).not("button").val("").end().end()
                    .insertAfter($container);
                    break;
                case "remove":
                    if ($form.find(".file-upload-container").length > 1) $container.remove();
                    break;
            }
        });

        $("fieldset .input-item :input").on("change keyup", function() {
            var $groupInputs = $(this).closest(".input-item").find(":input");
            var notEmpty = $groupInputs.filter(function() { return this.value }).length > 0;
            $groupInputs.attr("required", notEmpty);
        });

        $.post("/admin/search", function(docs) {
            $(".edit-form-tab select[id*='_id']").change(function() {
                var $form = $(this).closest("form");
                var id = this.value;
                var result = (docs || []).filter(function(item) { return id == item._id })[0] || {};
                $form.find(".clear-uploads").click();

                $form.find("#product_name_edit").val(result.name);
                $form.find("#price_edit").val(result.price ? parseFloat(result.price) / 100 : "");
                $form.find("#price_amb_edit").val(result.price_amb ? parseFloat(result.price_amb) / 100 : "");
                $form.find("#stock_qty_edit").val(result.stock_qty);
                $form.find("#product_category_edit").val(result.category);
                $form.find("#product_collection_edit").val(result.product_collection);
                $form.find("#product_info_edit").val(result.info);

                $form.find("#banner_text_edit").val(result.text);

                $form.find("#discount_code_value_edit").val(result.code);
                $form.find("#discount_percentage_edit").val(result.percentage);
                $form.find("#max_use_limit_edit").val(result.max_use_limit);
                $form.find("#discount_code_expiry_date_edit").val(result.expiry_date ? new Date(result.expiry_date).toISOString().slice(0, 10) : "");

                $form.find("#question_edit").val(result.question);
                $form.find("#answer_edit").val(result.answer);

                $form.find("#method_name_edit").val(result.name);
                $form.find("#method_fee_edit").val(result.fee ? parseFloat(result.fee) / 100 : "");
                $form.find("#method_info_edit").val(result.info);

                $form.find("#box_name_edit").val(result.name);
                $form.find("#box_price_edit").val(result.price ? parseFloat(result.price) / 100 : "");
                $form.find("#box_max_items_edit").val(result.max_items);
                $form.find("#box_info_edit").val(result.info);

                $form.find("#overview_image_url_edit").val(result.url);
            });
        });

        $(".text-emphasis-styles > button").click(function(e) {
            e.preventDefault();
            var $textarea = $("#"+this.parentNode.dataset.id);
            var value = $textarea.val();
            var selectionStart = $textarea.prop("selectionStart");
            var selectionEnd = $textarea.prop("selectionEnd");
            var selection = value.slice(selectionStart, selectionEnd);
            var before = value.slice(0, selectionStart);
            var after = value.slice(selectionEnd, value.length);
            var em = this.firstChild.tagName.toLowerCase();
            if (selection.length) $textarea.val( before + "<"+em+">" + selection +"</"+em+">" + after );
            $textarea.get(0).focus();
        });

        $("#homepage_image_file").change(function() {
            var $form = $(this).closest("form");
            var files = this.files;
            $form.find("#homepage_image_filename").val(files && files.length ? files[0].name.replace(/\.[a-zA-Z0-9]{3,4}$/gi, "") : "");
        });

        $("form").submit(function(e) {
            e.preventDefault();
            var form = this;
            var btnController = new submitBtnController(form);

            $.post(form.action, $(form).serializeArray(), function(result) {
                showMessage(result);
                $(form).find(".clear-uploads").click();
                form.reset();
            }).fail(function(err, status, codeMessage) {
                alert(codeMessage + (err ? ": " + err.responseText : ""));
            }).always(function() {
                btnController.finish();
            });
        });

        $(".delete-ambassador-form").off("submit").submit(function(e) {
            e.preventDefault();
            var form = this;
            var confirmation = confirm("Are you sure you want to delete this ambassador?");
            if (confirmation) {
                var btnController = new submitBtnController(form);
                $.post(form.action, $(form).serializeArray(), function(result) {
                    alert(result);
                    $(form).closest("li").slideUp(function() { $(this).remove() });
                }).fail(function(err, status, codeMessage) {
                    alert(codeMessage + (err ? ": " + err.responseText : ""));
                }).always(function() {
                    btnController.finish();
                });
            }
        });

        $(".verify-ambassador-form").off("submit").submit(function(e) {
            e.preventDefault();
            var form = this;
            var btnController = new submitBtnController(form);
            $.post(form.action, $(form).serializeArray(), function(result) {
                alert(result);
                $(form).slideUp(function() { $(this).remove() });
            }).fail(function(err, status, codeMessage) {
                alert(codeMessage + (err ? ": " + err.responseText : ""));
            }).always(function() {
                btnController.finish();
            });
        });

        $(".remove-form-tab form").off("submit").submit(function(e) {
            e.preventDefault();
            var form = this;
            var data = $(form).serializeArray();
            var btnController = new submitBtnController(form);

            $.post(form.action, data, function(result) {
                showMessage(result);
                $(form).find(":input:checked, :input:checked + span, :input:checked + span + br").slideUp(function() {
                    $(this).remove();
                    data.forEach(function(field) { $("option[value="+ field.value +"]").remove() });
                });
            }).fail(function(err, status, codeMessage) {
                alert(codeMessage + (err ? ": " + err.responseText : ""));
            }).always(function() {
                btnController.finish();
            });
        });
    </script>
<%- include ('partials/footer') -%>
