<%- include ('partials/header') -%>
    <div class="form-container">
        <ul class="nav nav-pills">
            <li><a data-toggle="none" href="/admin"><i class="fal fa-chevron-left" style="font-size: 1.2em; margin-right: 10px"></i> BACK</a></li>
            <li class="active"><a data-toggle="pill" href="#mail-form-tab">MAIL FORM</a></li>
            <li><a data-toggle="pill" href="#mail-sub-check">MAIL SUBSCRIBER CHECK</a></li>
        </ul>
        <div class="tab-content container">
            <div id="mail-form-tab" class="tab-pane fade in active">
                <div class="form">
                    <form class="minimal" method="post" id="mail-form" action="/admin/mail/send">
                        <fieldset>
                            <legend>NEW EMAIL</legend>

                            <label>EMAIL <i class="dropdown-arrow fal fa-chevron-down"></i></label>
                            <select name="email" id="email">
                                <option value="">-</option>
                                <%_ recipients.forEach((r, i) => { _%>
                                <option value="<%= r.customer_email || r.email %>"><%= r.customer_name || r.firstname+" "+r.lastname %></option>
                                <%_ }) _%>
                            </select>

                            <input type="email" name="email2" id="email2" placeholder="Or enter email here manually">

                            <label>SUBJECT</label>
                            <input type="text" name="subject" id="subject" required>

                            <label>MESSAGE</label>
                            <textarea name="message" id="message" rows="10" required></textarea>

                            <input type="submit" value="SEND">
                        </fieldset>
                    </form>

                    <div class="form-container" style="max-width: 600px; margin: 0 auto; padding: 0">
                        <div class="row">
                            <div class="col-sm-6">
                                <form class="minimal" action="/admin/mail/send/all">
                                    <button type="submit" style="margin-left: 0">SEND TO EVERYONE</button>
                                </form>
                            </div>
                            <div class="col-sm-6">
                                <form class="minimal" action="/admin/mail/send/ambassadors">
                                    <button type="submit" style="margin-right: 0">SEND TO AMBASSADORS</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="mail-sub-check" class="tab-pane fade in">
                <form method="post" id="mail-sub-check-form" action="/admin/mail/sub-toggle">
                    <fieldset>
                        <legend>MAILING LIST SUBSCRIBER CHECK</legend>
                        <div class="note">Edit the list below to include / exclude recipients from email updates (note: ambassadors will still recieve updates nonetheless when you send ambassadors-only emails).</div>

                        <%_ recipients.forEach((r, i) => { _%>
                        <div class="input-checkbox">
                            <input type="checkbox" name="email" value="<%= r.customer_email || r.email %>" <%- r.mail_sub ? "checked" : "" %>> <span><%= r.customer_name || r.firstname+" "+r.lastname %></span>
                        </div>
                        <%_ }) _%>

                        <input type="submit" value="UPDATE">
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <script>
        $("#email").change(function() { $("#email2").val("") });
        $("#email2").keypress(function() { $("#email").val("") });

        $("form").submit(function(e) {
            e.preventDefault();
            var btnController = new submitBtnController(this);
            $.post(this.action, $("#mail-form").serializeArray(), function(result) {
                alert(result);
                e.target.reset();
            }).fail(function(err) {
                alert(err.responseText);
            }).always(function() {
                btnController.finish();
            });
        });

        $("#mail-sub-check-form").off("submit").submit(function(e) {
            e.preventDefault();
            var btnController = new submitBtnController(this);
            $.post(this.action, $(this).serializeArray(), function(result) {
                alert(result);
            }).fail(function(err) {
                alert(err.responseText);
            }).always(function() {
                btnController.finish();
            });
        });
    </script>
<%- include ('partials/footer') -%>