<%- include ('partials/header') -%>
<%_ const amb = is_admin ? ambassador : user; _%>
<div class="profile-body">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 float-left">
                <div class="profile-card">
                    <div class="profile-picture" style="background-image: url('<%- amb.image?.url %>');"></div>
                    <div class="profile-summary">
                        <p class="name"><%- amb.firstname %> <%- amb.lastname %></p>
                        <p class="role">Ambassador <i class="fal fa-badge-check"></i></p>
                        <br>
                        <a class="insta" href="https://www.instagram.com/<%- amb.instagram %>/">
                            <i class="fab fa-instagram" style="font-size: 1.5em"></i>
                        </a>
                        <br><br>
                        <%_ if (is_admin) { _%>
                        <form id="amb-dc-form" class="minimal" method="post" action="/ambassador/discount_code/edit">
                            <label for="code">
                                Edit discount code
                                <span><i class="fal fa-info-circle" style="margin-left: 10px"></i> case sensitive</span>
                            </label>
                            <div class="input-group">
                                <input id="amb_dc" class="form-control" type="text" name="code" value="<%- amb.discount_code %>">
                                <input id="amb_id" type="hidden" name="id" value="<%- amb._id %>">
                                <div class="input-group-append">
                                    <input class="btn" type="submit" value="Update">
                                </div>
                            </div>
                        </form>
                        <%_ } else { _%>
                        <p class="dc">Discount code<br><b><%- amb.discount_code %></b></p>
                        <button class="minimal" type="button" id="settings-button" data-toggle="modal" data-target="#settings-modal">
                            <span>SETTINGS</span>
                        </button>
                        <%_ } _%>
                    </div>
                </div>
            </div>
            <div class="col-sm-7 float-left dashboard">
                <div class="nav-pills-container">
                    <div class="nav nav-pills">
                        <a class="nav-link active" data-toggle="pill" href="#sales">SALES</a>
                        <a class="nav-link" data-toggle="pill" href="#wishlist">WISH LIST</a>
                        <a class="nav-link" data-toggle="pill" href="#personal-info">INFO</a>
                    </div>
                </div>
                <div class="tab-content" style="padding: 0;">

                    <div id="sales" class="tab-pane fade show active">
                        <div class="thumb-container no-wrap">
                            <div class="<%- orders.length && is_admin ? 'container' : '' %>" style="<%- orders.length && is_admin ? 'padding: 20px 0 20px 30px;' : '' %>">
                                <div class="row">
                                <%_ if (!orders.length) { _%>
                                    <div id="order-sales-counter">
                                        <h1>0 <small>ORDERS SOLD</small></h1>
                                    </div>
                                <%_ } else if (is_ambassador) { _%>
                                    <div id="order-sales-counter">
                                        <h1><%= orders.length %> <small>ORDERS SOLD</small></h1>
                                    </div>
                                <%_ } else if (is_admin) {
                                    orders.forEach((order, i, arr) => { _%>
                                    <div class="thumb">
                                        <div class="thumb-inner">
                                            <div class="thumb-info">
                                                <div class="order-header">
                                                    <div class="row">
                                                        <div class="col-sm-6 float-left order-name"><p>Order # <%- arr.length - i %></p></div>
                                                        <%_ const day = order.created_at.getDate(); _%>
                                                        <%_ const month = order.created_at.getMonth() + 1; _%>
                                                        <%_ const year = order.created_at.getFullYear(); _%>
                                                        <div class="col-sm-6 float-left order-date">
                                                            <p><%= `${ day < 10 ? "0"+day : day }/${ month < 10 ? "0"+month : month }/${ year }` %></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="order-summary">
                                                    <ul>
                                                        <%_ const list_filtered = order.cart.slice(0, 3); _%>
                                                        <%_ const info_overflow = order.cart.length > list_filtered.length; _%>
                                                        <%_ list_filtered.forEach((item, i, arr) => { _%>
                                                        <li><%- item.qty %> x <%- item.name %></li>
                                                        <%_ }) _%>
                                                        <%- info_overflow ? "..." : "" %>
                                                    </ul>
                                                </div>
                                                <div class="order-summary-link">
                                                    <a href="/order/<%- order.id %>">VIEW DETAILS</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <%_ })} _%>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="wishlist" class="tab-pane fade">
                        <div class="thumb-container no-wrap">
                            <div class="<%- wishlist.length ? 'container' : '' %>" style="<%- wishlist.length ? 'padding: 20px 0 20px 30px;' : '' %>">
                                <div class="row">
                                    <%_ if (!wishlist.length) { _%>
                                    <div id="order-sales-counter"><h1>EMPTY WISHLIST</h1></div>
                                    <%_ } wishlist.forEach((product, i, arr) => { _%>
                                    <div class="thumb">
                                        <div class="thumb-inner">
                                            <a href="/product/<%= product.category + '/' + product.name %>">
                                                <div class="thumb-img product-image<%= product.stock_qty < 1 ? ' sold-out' : '' %>" style="background-image: url('<%- product.image ? product.image.url : '' %>');">
                                                    <%_ if (product.price_sale) { _%>
                                                    <div class="sale-ribbon">SALE</div>
                                                    <%_ } _%>
                                                </div>
                                            </a>
                                            <div class="thumb-info">
                                                <div class="product-name"><p><%= product.name %></p></div>
                                                <div class="product-price"><p>£<%- (product.price_amb / 100).toFixed(2) %></p></div>
                                                <div class="cart-options">
                                                    <form class="add-to-cart minimal">
                                                        <input type="hidden" name="id" value="<%- product.id %>">
                                                        <%_ if (product.stock_qty > 0) { _%>
                                                        <div class="quantity-wrapper">
                                                            <button type="button" class="quantity-control-btn" data-step="-1">-</button>
                                                            <input class="product-quantity" type="number" name="quantity" min="1" max="<%= product.stock_qty %>" value="1">
                                                            <button type="button" class="quantity-control-btn" data-step="1">+</button>
                                                        </div>

                                                        <button formaction="/shop/cart/add" class="add-to-cart-btn <%= product.pre_release ? 'pre-order' : '' %>">
                                                            <%- product.pre_release ? "PRE-ORDER" : '<i class="fal fa-cart-arrow-down"></i>' %>
                                                        </button>
                                                        <%_ } else { _%>
                                                        <div class="sold-out-label">SOLD OUT</div>
                                                        <%_ } _%>
                                                        <button formaction="/wishlist/remove" class="add-to-cart-btn wishlist-remove"><i class="fal fa-trash-alt"></i></button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <%_ }) _%>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="personal-info" class="tab-pane fade">
                        <div class="row">
                            <div class="col-md-6 float-left">
                                <p><b>EMAIL</b></p>
                                <p><%- amb.email %></p><br>

                                <p><b>HOME ADDRESS</b></p>
                                <p><%- amb.address.line1 %></p>
                                <p><%- amb.address.line2 %></p>
                                <p><%- amb.address.city %>, <%- amb.address.country %></p>
                                <%_ if (amb.address.state) { _%>
                                <p><%- amb.address.state %></p>
                                <%_ } _%>
                                <p><%- amb.address.postcode %></p><br>

                                <p><b>PHONE NUMBER</b></p>
                                <p><%- amb.phone_number %></p><br>
                            </div>
                            <div class="col-md-6 float-left">
                                <p><b>SORT CODE</b></p>
                                <p><%- amb.sort_code %></p><br>

                                <p><b>ACCOUNT NUMBER</b></p>
                                <p><%- amb.account_number %></p><br>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<%_ if (!is_admin) { _%>
<div id="settings-modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-icons">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="nav nav-pills justify-content-center">
                    <a class="nav-link active" data-toggle="pill" href="#personal-details-settings">EDIT PROFILE</a>
                    <a class="nav-link" data-toggle="pill" href="#account-settings">ACCOUNT</a>
                </div>
                <div class="tab-content">
                    <div id="personal-details-settings" class="tab-pane fade show active">
                        <form method="post" action="/ambassador/account/edit" class="settings-form">
                            <label>PROFILE PICTURE</label>
                            <fieldset class="file-upload-container" style="margin-bottom: 1em">
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="profile_picture_file" accept="image/*" data-fieldname="image_file">
                                        <label class="custom-file-label">Upload profile picture</label>
                                    </div>
                                    <input type="hidden" name="image_file">
                                    <div class="input-group-append">
                                        <button class="clear-uploads btn" type="button" data-id="profile_picture_file">CLEAR</button>
                                    </div>
                                </div>
                                <input type="url" name="image_url" id="profile_picture_url" placeholder="Or paste the image URL">
                            </fieldset>

                            <fieldset>
                                <div class="row">
                                    <div class="col-sm-6 float-left">
                                        <label>FIRST NAME</label>
                                        <input type="text" name="firstname" value="<%- amb.firstname %>">
                                    </div>
                                    <div class="col-sm-6 float-left">
                                        <label>LAST NAME</label>
                                        <input type="text" name="lastname" value="<%- amb.lastname %>">
                                    </div>
                                </div>
                            </fieldset>

                            <label>PHONE NUMBER</label>
                            <input type="tel" name="phone_number" value="<%- amb.phone_number %>">

                            <label>EMAIL</label>
                            <input type="email" name="email" value="<%- amb.email %>">

                            <label>INSTAGRAM HANDLE</label>
                            <input type="text" name="instagram" placeholder="@instagram_handle" value="<%- amb.instagram %>">

                            <label>SORT CODE</label>
                            <input type="text" name="sort_code" id="sort_code" placeholder="Format - e.g.: 11-11-11" pattern="^\d{2}-\d{2}-\d{2}$" value="<%- amb.sort_code %>">

                            <label>ACCOUNT NUMBER</label>
                            <input type="text" name="account_number" id="account_number" pattern="^[0-9]*$" value="<%- amb.account_number %>">

                            <label>ADDRESS</label>
                            <input type="text" name="line1" id="address_line1" placeholder="LINE 1" value="<%= amb.address.line1 %>">
                            <input type="text" name="line2" id="address_line2" placeholder="LINE 2 (OPTIONAL)" value="<%= amb.address.line2 %>">

                            <fieldset>
                                <div class="row">
                                    <div class="col-sm-6 float-left">
                                        <label for="city">CITY</label>
                                        <input type="text" name="city" value="<%- amb.address.city %>">
                                    </div>
                                    <div class="col-sm-6 float-left">
                                        <label for="state">STATE <span>/ COUNTY / REGION</span></label>
                                        <input type="text" name="state" placeholder="(OPTIONAL)">
                                    </div>
                                    <div class="col-sm-6 float-left">
                                        <label for="country">COUNTRY <i class="dropdown-arrow fal fa-chevron-down"></i></label>
                                        <select name="country">
                                            <option value="">-</option>
                                            <%_ for (var k in countries) { _%>
                                            <%_ let selected = k === amb.address.country ? "selected" : "" _%>
                                            <option value="<%- k %>" <%- selected %>><%- countries[k] %></option>
                                            <%_ } _%>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 float-left">
                                        <label for="postcode">POST <span>/ ZIP CODE</span></label>
                                        <input type="text" name="postcode" value="<%- amb.address.postcode %>">
                                    </div>
                                </div>
                            </fieldset>

                            <input type="hidden" name="id" value="<%= amb._id %>">
                            <input type="submit" value="UPDATE">
                        </form>
                    </div>

                    <div id="account-settings" class="tab-pane fade">
                        <div class="form-container">
                            <form class="minimal mail-sub-toggle-form" method="post" action="/ambassador/account/edit" id="mail-sub-toggle">
                                <div class="input-group check-option">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <input type="checkbox" id="mail_sub_check" name="mail_sub" value="true" <%- amb.mail_sub ? 'checked' : '' %>>
                                        </div>
                                    </div>
                                    <label for="mail_sub_check" class="form-control">
                                        <b>Check to recieve emails</b><br>
                                        <small>(for updates, promotions etc.)</small>
                                    </label>
                                </div>
                                <input type="hidden" name="id" value="<%= amb._id %>">
                            </form>

                            <form class="minimal sensitive-form" method="post" action="/ambassador/delete">
                                <input type="hidden" name="id" value="<%- amb._id %>">
                                <button type="submit" class="btn-danger">DELETE ACCOUNT</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%_ } _%>

<script>
<%_ if (is_admin) { _%>
    $("#amb-dc-form").off("submit").submit(function(e) {
        e.preventDefault();
        var btnController = new submitBtnController(this, "Updating");
        $.post(this.action, $(this).serializeArray(), function(result) {
            alert(result);
        }).fail(function(err) {
            alert(err.responseText);
        }).always(function() {
            btnController.finish();
        });
    });

    $(window).on("load", function() {
        $("form :input").not(":button, :checkbox, :file, :radio, :submit, :button, [type=number]").first().trigger("blur");
    })
<%_ } else { _%>
    $("#personal-details-edit-form").submit(function(e) {
        e.preventDefault();
        var btnController = new submitBtnController(this);
        $.post(this.action, $(this).serializeArray(), function(result) {
            alert(result);
            location.reload();
        }).fail(function(err) {
            btnController.finish();
            alert(err.responseText);
        });
    });

    $("#mail-sub-toggle input:checkbox").change(function(e) {
        e.preventDefault();
        var form = $(this).closest("form").get(0);
        var data = $(form).serializeArray().slice();
        $(this).attr("disabled", true);
        $.post(form.action, data, function(result) {
            alert(result);
        }).fail(function(err) {
            alert(err.responseText);
        }).always(function() {
            $(e.target).attr("disabled", false);
        });
    });

    $(".sensitive-form").off("submit").submit(function(e) {
        e.preventDefault();
        var confirmation = confirm("Are you sure?");
        if (confirmation) {
            var btnController = new submitBtnController(this);
            $.post(this.action, $(this).serializeArray(), function(result) {
                alert(result);
                location.reload();
            }).fail(function(err) {
                btnController.finish();
                alert(err.responseText);
            });
        }
    });
<%_ } _%>
</script>
<%- include ('partials/footer') -%>