<%- include ('partials/header') -%>
    <section>
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 order-md-last float-left">
                        <div class="img-container"><img class="img" src="<%= box.image ? box.image.url : '' %>"></div>
                    </div>
                    <div class="col-md-6 order-md-first float-left">
                        <div class="text-container">
                            <div class="text-content">
                                <h1><%= box.name %> Box</h1><br>
                                <%_ if (box.price_sale && !is_ambassador) { _%>
                                <p id="price">
                                    £<%- (box.price_sale / 100).toFixed(2) %> <small><del>£<%- (box.price / 100).toFixed(2) %></del></small>
                                </p><br>
                                <%_ } if (box.info) { _%>
                                <p id="info"><%- box.info.replace(/\r?\n/g, "<br>") %></p><br>
                                <%_ } if (products.length) { _%>
                                <p>Click the images below to choose</p><br>
                                <p><i id="smooth-scroll-arrow" class="fal fa-chevron-down"></i></p>
                                <%_ } _%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>

        <div class="container">
            <form class="minimal" id="box-deal-form" action="/deal/cart/add">
                <%_ const collections = [...new Set(products.filter(p => p.product_collection).map(p => p.product_collection))].map(c => ({ collection: c }));
                    const categories = [...new Set(products.filter(p => !p.product_collection).map(p => p.category))].map(c => ({ category: c }));
                    const groups = [...collections, ...categories]; _%>
                <div class="mb-view-md section-dropdown-options">
                    <label>SELECT COLLECTION <i class="dropdown-arrow fal fa-chevron-down"></i></label>
                    <select>
                        <%_ groups.forEach(field => {
                            const section = field.collection ? field.collection + " Collection" : field.category.replace(/^./, m => m.toUpperCase()).replace(/_/g, " "); _%>
                        <option value="#<%= section.replace(/ /g, '-').toLowerCase() %>"><%= section %></option>
                        <%_ }) _%>
                    </select>
                </div>

                <div class="nav-pills-container dt-view-md">
                    <div class="nav nav-pills">
                    <%_ groups.forEach(field => {
                        const section = field.collection ? field.collection + " Collection" : field.category.replace(/^./, m => m.toUpperCase()).replace(/_/g, " "); _%>
                        <a class="nav-link" data-toggle="pill" href="#<%= section.replace(/ /g, '-').toLowerCase() %>"><%= section %></a>
                    <%_ }) _%>
                    </div>
                </div>

                <div class="tab-content container">
                    <%_ groups.forEach(field => {
                        const section = field.collection ? field.collection + " Collection" : field.category.replace(/^./, m => m.toUpperCase()).replace(/_/g, " "); _%>
                    <div id="<%= section.replace(/ /g, '-').toLowerCase() %>" class="tab-pane fade">
                        <div class="row">
                            <%_ products.filter(p => field.collection ? field.collection === p.product_collection : field.category === p.category).forEach(p => { _%>
                            <div class="thumb col-lg-3 col-md-4 col-6 float-left">
                                <div class="thumb-inner">
                                    <div class="thumb-img product-image<%= p.stock_qty < 1 ? ' sold-out' : '' %>" style="background-image: url('<%- p.image ? p.image.url : '' %>');">
                                        <div class="item-select-check">
                                            <i class="check-symbol fal fa-circle"></i>
                                            <i class="check-symbol fas fa-check-circle"></i>
                                        </div>
                                        <input type="checkbox" name="product_id" value="<%= p.id %>" <%- p.stock_qty > 0 ? '' : 'disabled' %>>
                                    </div>
                                    <div class="thumb-info">
                                        <div class="product-name"><p><%= p.name %></p></div>
                                        <%_ if (p.stock_qty > 0) { _%>
                                        <div class="quantity-wrapper">
                                            <button type="button" class="quantity-control-btn" data-step="-1">-</button>
                                            <input class="product-quantity" type="number" name="quantity" min="1" max="<%= p.stock_qty %>" value="1" disabled>
                                            <button type="button" class="quantity-control-btn" data-step="1">+</button>
                                        </div>
                                        <%_ } else { _%>
                                        <div class="sold-out-label">SOLD OUT</div>
                                        <%_ } _%>
                                    </div>
                                </div>
                            </div>
                            <%_ }) _%>
                        </div>
                    </div>
                    <%_ }) _%>
                </div>

                <br>
                <input type="hidden" name="box_id" value="<%= box.id %>" required>
                <input type="submit" id="submit-btn" value="ADD TO CART">
            </form>
        </div>
    </section>

    <script>
        $(window).on("load scroll resize", function(e) {
            if (e.type === "load") $("form").trigger("reset").find("input[type=checkbox]").change();
            if (e.type !== "scroll" || $("#box-deal-form .nav-link").is(".active")) return;
            var windowOffsetBottom = window.pageYOffset + window.innerHeight;
            var isPastFormOffsetTop = windowOffsetBottom - 200 > $("#box-deal-form").offset().top;
            isPastFormOffsetTop && $("#box-deal-form .nav-link:first").click();
        });

        $("input[type=checkbox]").change(function() {
            $(this).closest(".thumb").toggleClass("checked", this.checked).find(".product-quantity").attr({ disabled: !this.checked, required: this.checked });
        });

        $("form").submit(function(e) {
            e.preventDefault();
            var btnController = new submitBtnController(e.target);
            $.post(e.target.action, $(e.target).serializeArray(), function(item_count) {
                var $btn = $("#cart-icon").toggleClass("visible", item_count > 0);
                $("#cart-item-count").text(item_count);
                $btn.clone(true).insertAfter($btn).animate({ fontSize: "+=3em", opacity: "0" }, function() { $(this).remove() });
                $(".thumb").removeClass("checked");
                $(".product-quantity").attr({ disabled: true, required: false });
                e.target.reset();
            }).fail(function(err) {
                Alert(err.responseText);
            }).always(function() {
                btnController.finish();
            });
        });
    </script>
<%- include ('partials/footer') -%>
