<%- include ('partials/header') -%>
    <%- include ('partials/stripe-checkout-css') -%>
    <div id="payment-form-container" style="margin-top: 2em">
        <div class="content container">
            <form id="payment-form">
                <fieldset>
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="firstname">FIRST NAME</label>
                            <%_ const firstname_val = user && !is_admin ? `value="${user.firstname}"` : '' _%>
                            <input type="text" name="firstname" <%- firstname_val %> <%- !!user && !is_admin ? "disabled" : "" %> required>
                        </div>
                        <div class="col-sm-6">
                            <label for="lastname">LAST NAME</label>
                            <%_ const lastname_val = user && !is_admin ? `value="${user.lastname}"` : '' _%>
                            <input type="text" name="lastname" <%- lastname_val %> <%- !!user && !is_admin ? "disabled" : "" %> required>
                        </div>
                    </div>
                </fieldset>
                <label for="email">EMAIL</label>
                <%_ const email_val = user && !is_admin ? `value="${user.email}"` : '' _%>
                <input type="email" name="email" <%- email_val %> <%- !!user && !is_admin ? "disabled" : "" %> required>
                <label for="address_l1">ADDRESS</label>
                <input type="text" name="address_l1" placeholder="LINE 1" required>
                <input type="text" name="address_l2" placeholder="LINE 2 (OPTIONAL)">
                <fieldset>
                    <div class="row">
                        <div class="col-sm-4">
                            <label for="city">CITY</label>
                            <input type="text" name="city" required>
                        </div>
                        <div class="col-sm-4">
                            <label for="country">COUNTRY <i class="dropdown-arrow fal fa-chevron-down"></i></label>
                            <select name="country" required>
                                <option value="">-</option>
                                <%_ for (var k in countries) { _%>
                                <option value="<%- k %>"><%- countries[k] %></option>
                                <%_ } _%>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <label for="postcode">POST / ZIP CODE</label>
                            <input type="text" name="postcode" required>
                        </div>
                    </div>
                </fieldset>
                <br>
                <label for="discount_code">DISCOUNT CODE <span>(OPTIONAL)</span></label>
                <input type="text" name="discount_code">
                <%_ if (shipping_methods.length) { _%>
                <label>CHOOSE DELIVERY METHOD</label><br><br>
                <%_ shipping_methods.forEach(method => { _%>
                <input type="radio" name="shipping_method_id" value="<%= method.id %>" required>
                    <%= method.name %> (£<%= (method.fee / 100).toFixed(2) %>)<%- method.info ? ' <small>' + method.info + '</small>' : '' %>
                <br>
                <%_ })} else { _%>
                <label style="display: block; text-align: center">FREE DELIVERY</label>
                <%_ } _%>
                <br><br>
            </form>

            <div class="form-container" style="max-width: 600px; margin: 0 auto; padding: 1em 0">
                <div class="row">
                    <div class="col-sm-<%= production ? '12' : '6' %>">
                        <form id="stripe-payment-opt" class="minimal" action="/shop/checkout/session/create">
                            <button class="checkout-btn" type="submit">
                                <span class="btn-label"><i class="icon fal fa-credit-card"></i> <span>PAY BY CARD</span></span>
                            </button>
                        </form>
                    </div>
                    <div class="col-sm-6">
                        <form id="paypal-payment-opt" class="minimal" action="/shop/checkout/paypal/create-payment">
                            <button class="checkout-btn" type="submit">
                                <span class="btn-label"><i class="icon fab fa-paypal"></i> <span>PAY VIA PAYPAL</span></span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="https://js.stripe.com/v3/"></script>
    <script>
        $("#paypal-payment-opt").submit(function(e) {
            e.preventDefault();
            var btnControl = new submitBtnController(this, "REDIRECTING");
            $.post(this.action, $("#payment-form").serializeArray(), function(href) {
                location.href = href;
            }).fail(function(err, status, codeMessage) {
                alert(codeMessage + (err ? ": " + err.responseText : ""));
            }).always(function() {
                btnControl.finish();
            });
        });

        $("#stripe-payment-opt").submit(function(e) {
            e.preventDefault();
            var btnControl = new submitBtnController(this);
            $.post(this.action, $("#payment-form").serializeArray(), function(data) {
                var stripe = Stripe(data.pk);
                return stripe.redirectToCheckout({ sessionId: data.id });
            }).then(function(result) {
                if (result.error) alert(result.error.message);
            }).fail(function(err, status, codeMessage) {
                alert(codeMessage + (err ? ": " + err.responseText : ""));
            }).always(function() {
                btnControl.finish();
            });
        });
    </script>
<%- include ('partials/footer') -%>