<%- include ('partials/header') -%>
<div class="profile-body">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="row">
                    <div class="col-sm-12 profile-card">
                        <div class="profile-picture" style="background-image: url('<%- (user.image || {}).url %>');"></div>
                        <div class="profile-summary">
                            <p class="name"><%- user.firstname %> <%- user.lastname %></p>
                            <button class="minimal" type="button" id="settings-button" data-toggle="modal" data-target="#settings-modal">
                                EDIT PROFILE
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-7 dashboard">
                <div class="nav-pills-container">
                    <ul class="nav nav-pills">
                        <li class="active"><a data-toggle="pill" href="#history">PURCHASE HISTORY</a></li>
                    </ul>
                </div>
                <div class="tab-content" style="padding: 0;">
                    <div id="history" class="tab-pane fade in active">
                        <div class="thumb-container no-wrap">
                            <div class="container" style="padding: 20px 0 20px 30px;">
                                <div class="row">
                                    <%_ orders.forEach((order, i, arr) => { _%>
                                    <div class="thumb">
                                        <div class="thumb-inner">
                                            <div class="thumb-info">
                                                <div class="order-header">
                                                    <div class="row">
                                                        <div class="col-sm-6 order-name"><p>Order #<%- arr.length - i %></p></div>
                                                        <%_ const day = order.created_at.getDate(); _%>
                                                        <%_ const month = order.created_at.getMonth() + 1; _%>
                                                        <%_ const year = order.created_at.getFullYear(); _%>
                                                        <div class="col-sm-6 order-date">
                                                            <p><%= `${ day < 10 ? "0"+day : day }/${ month < 10 ? "0"+month : month }/${ year }` %></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="order-summary">
                                                    <ul>
                                                        <%_ const list_filtered = order.cart.slice(0, 3); _%>
                                                        <%_ const diff_length = order.cart.length !== list_filtered.length; _%>
                                                        <%_ list_filtered.forEach((item, i, arr) => { _%>
                                                        <li><%- item.qty %> x <%- item.name %></li>
                                                        <%_ }) _%>
                                                        <%- diff_length ? "..." : "" %>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <%_ }) _%>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="settings-modal" class="modal fade in" role="dialog">
    <div class="modal-icons">
        <button type="button" class="close-view" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
        <form method="post" action="/account/edit">
            <label>PROFILE PICTURE</label>
            <fieldset class="file-upload-container">
                <div class="row">
                    <div class="col-sm-6 col-xs-9"><input type="file" id="profile_picture_file" accept=".jpg,.jpeg,.png,.bmp"></div>
                    <input type="hidden" name="image_file">
                    <div class="col-sm-6 col-xs-3"><button type="button" class="clear-uploads" data-id="profile_picture_file">CLEAR</button></div>
                </div>
                <div class="row">
                    <div class="col-sm-12"><input type="url" name="image_url" id="profile_picture_url" placeholder="Or paste the image URL"></div>
                </div>
            </fieldset>

            <fieldset>
                <div class="row">
                    <div class="col-sm-6">
                        <label>FIRST NAME</label>
                        <input type="text" name="firstname" value="<%- user.firstname %>">
                    </div>
                    <div class="col-sm-6">
                        <label>LAST NAME</label>
                        <input type="text" name="lastname" value="<%- user.lastname %>">
                    </div>
                </div>
            </fieldset>

            <label>PHONE NUMBER</label>
            <input type="tel" name="phone_number" pattern="[0-9]{11}" value="<%- user.phone_number %>">

            <label>EMAIL</label>
            <input type="email" name="email" value="<%- user.email %>">

            <input type="hidden" name="id" value="<%= user._id %>">
            <input type="submit" value="UPDATE">
        </form>
    </div>
</div>

<script>
    $("form").submit(function(e) {
        e.preventDefault();
        var btnController = new submitBtnController(this);
        $.post(this.action, $(this).serializeArray(), function(result) {
            alert(result);
            location.reload();
        }).fail(function(err) {
            alert(err.responseText);
        }).always(function() {
            btnController.finish();
        });
    });
</script>
<%- include ('partials/footer') -%>