<%- include ('partials/header') -%>
<div class="profile-body">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 float-left">
                <div class="profile-card">
                    <div class="profile-picture" style="background-image: url('<%- user.image?.url %>');"></div>
                    <div class="profile-summary">
                        <p class="name"><%- user.firstname %> <%- user.lastname %></p>
                        <button class="minimal" type="button" id="settings-button" data-toggle="modal" data-target="#settings-modal">
                            <span>SETTINGS</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-7 float-left dashboard">
                <div class="nav-pills-container">
                    <div class="nav nav-pills">
                        <a class="nav-link active" data-toggle="pill" href="#history">PURCHASE HISTORY</a>
                        <a class="nav-link" data-toggle="pill" href="#wishlist">WISH LIST</a>
                        <%_ if (subscription && subscription_plan) { _%>
                        <a class="nav-link" data-toggle="pill" href="#subscriptions">SUBSCRIPTION</a>
                        <%_ } _%>
                    </div>
                </div>
                <div class="tab-content" style="padding: 0;">

                    <div id="history" class="tab-pane fade show active">
                        <div class="thumb-container no-wrap">
                            <div class="<%- orders.length ? 'container' : '' %>" style="<%- orders.length ? 'padding: 20px 0 20px 30px;' : '' %>">
                                <div class="row">
                                    <%_ if (!orders.length) { _%>
                                    <div id="order-sales-counter"><h1>0 <small>ORDERS MADE</small></h1></div>
                                    <%_ } orders.forEach((order, i, arr) => { _%>
                                    <div class="thumb">
                                        <div class="thumb-inner">
                                            <div class="thumb-info">
                                                <div class="order-header">
                                                    <div class="row">
                                                        <div class="col-sm-6 float-left order-name"><p>Order # <%- arr.length - i %></p></div>
                                                        <%_ const day = order.created_at.getDate(); _%>
                                                        <%_ const month = order.created_at.getMonth() + 1; _%>
                                                        <%_ const year = order.created_at.getFullYear(); _%>
                                                        <div class="col-sm-6 float-left order-date">
                                                            <p><%= `${ day < 10 ? "0"+day : day }/${ month < 10 ? "0"+month : month }/${ year }` %></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="order-summary">
                                                    <ul>
                                                        <%_ const list_filtered = order.cart.slice(0, 3); _%>
                                                        <%_ const info_overflow = order.cart.length > list_filtered.length; _%>
                                                        <%_ list_filtered.forEach((item, i, arr) => { _%>
                                                        <li><%- item.qty %> x <%- item.name %></li>
                                                        <%_ }) _%>
                                                        <%- info_overflow ? "..." : "" %>
                                                    </ul>
                                                </div>
                                                <div class="order-summary-link">
                                                    <a href="/order/<%- order.id %>">VIEW DETAILS</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <%_ }) _%>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="wishlist" class="tab-pane fade">
                        <div class="thumb-container no-wrap">
                            <div class="<%- wishlist.length ? 'container' : '' %>" style="<%- wishlist.length ? 'padding: 20px 0 20px 30px;' : '' %>">
                                <div class="row">
                                    <%_ if (!wishlist.length) { _%>
                                    <div id="order-sales-counter"><h1>EMPTY WISHLIST</h1></div>
                                    <%_ } wishlist.forEach((product, i, arr) => { _%>
                                    <div class="thumb">
                                        <div class="thumb-inner">
                                            <a href="/product/<%= product.category + '/' + product.name %>">
                                                <div class="thumb-img product-image<%= product.stock_qty < 1 ? ' sold-out' : '' %>" style="background-image: url('<%- product.image ? product.image.url : '' %>');">
                                                    <%_ if (product.price_sale) { _%>
                                                    <div class="sale-ribbon">SALE</div>
                                                    <%_ } _%>
                                                </div>
                                            </a>
                                            <div class="thumb-info">
                                                <div class="product-name"><p><%= product.name %></p></div>
                                                <%_ const price = sale_sitewide || sale && product.price_sale ? product.price_sale : product.price; _%>
                                                <div class="product-price"><p>£<%- (price / 100).toFixed(2) %></p></div>
                                                <div class="cart-options">
                                                    <form class="add-to-cart minimal">
                                                        <input type="hidden" name="id" value="<%- product.id %>">
                                                        <%_ if (product.stock_qty > 0) { _%>
                                                        <div class="quantity-wrapper">
                                                            <button type="button" class="quantity-control-btn" data-step="-1">-</button>
                                                            <input class="product-quantity" type="number" name="quantity" min="1" max="<%= product.stock_qty %>" value="1">
                                                            <button type="button" class="quantity-control-btn" data-step="1">+</button>
                                                        </div>

                                                        <button formaction="/shop/cart/add" class="add-to-cart-btn <%= product.pre_release ? 'pre-order' : '' %>">
                                                            <%- product.pre_release ? "PRE-ORDER" : '<i class="fal fa-cart-arrow-down"></i>' %>
                                                        </button>
                                                        <%_ } else { _%>
                                                        <div class="sold-out-label">SOLD OUT</div>
                                                        <%_ } _%>
                                                        <button formaction="/wishlist/remove" class="add-to-cart-btn wishlist-remove"><i class="fal fa-trash-alt"></i></button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <%_ }) _%>
                                </div>
                            </div>
                        </div>
                    </div>

                    <%_ if (subscriptions && subscriptions.length) { _%>
                    <div id="subscriptions" class="tab-pane fade" style="overflow: hidden">
                        <div id="subscriptions-carousel" class="carousel slide">
                            <div class="carousel-inner" style="overflow: initial;">
                                <%_ subscriptions.forEach((subscription, i) => { _%>
                                <div class="item<%= i === 0 ? ' active' : '' %>">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p><%- subscription_products.data.find(p => p.id === subscription.items.data[0].price.product).name %></p>
                                            <p>£<%- (subscription.items.data[0].price.unit_amount / 100).toFixed(2) %></p><br>
                                            <p><a class="invoice-link" target="_blank" href="<%- subscription.latest_invoice.hosted_invoice_url %>">Click here</a> to view your latest invoice.</p><br>
                                        </div>
                                        <div class="col-md-6">
                                            <form class="minimal sensitive-form cancel-subscription-form" method="post" action="/subscription/cancel">
                                                <input type="hidden" name="sub_id" value="<%- subscription.id %>">
                                                <button type="submit" class="btn-danger">CANCEL SUBSCRIPTION</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <%_ }) _%>
                            </div>

                            <%_ if (subscriptions.length > 1) { _%>
                            <ol class="carousel-indicators" style="position: static; bottom: auto; margin: 20px auto">
                                <%_ subscriptions.forEach((subscription, i) => { _%>
                                <li data-target="#subscriptions-carousel" data-slide-to="<%= i %>" class="<%= i === 0 ? ' active' : '' %>"></li>
                                <%_ }) _%>
                            </ol>
                            <%_ } _%>
                        </div>
                    </div>
                    <%_ } _%>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="settings-modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-icons">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="nav nav-pills justify-content-center">
                    <a class="nav-link active" data-toggle="pill" href="#personal-details-settings">EDIT PROFILE</a>
                    <a class="nav-link" data-toggle="pill" href="#account-settings">ACCOUNT</a>
                </div>
                <div class="tab-content">
                    <div id="personal-details-settings" class="tab-pane fade show active">
                        <form method="post" action="/account/edit" class="settings-form">
                            <label>PROFILE PICTURE</label>
                            <fieldset class="file-upload-container" style="margin-bottom: 1em">
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="profile_picture_file" accept="image/*" data-fieldname="image_file">
                                        <label class="custom-file-label">Upload profile picture</label>
                                    </div>
                                    <input type="hidden" name="image_file">
                                    <div class="input-group-append">
                                        <button class="clear-uploads btn" type="button" data-id="profile_picture_file">CLEAR</button>
                                    </div>
                                </div>
                                <input type="url" name="image_url" id="profile_picture_url" placeholder="Or paste the image URL">
                            </fieldset>

                            <fieldset>
                                <div class="row">
                                    <div class="col-sm-6 float-left">
                                        <label>FIRST NAME</label>
                                        <input type="text" name="firstname" value="<%- user.firstname %>">
                                    </div>
                                    <div class="col-sm-6 float-left">
                                        <label>LAST NAME</label>
                                        <input type="text" name="lastname" value="<%- user.lastname %>">
                                    </div>
                                </div>
                            </fieldset>

                            <label>PHONE NUMBER</label>
                            <input type="tel" name="phone_number" value="<%- user.phone_number %>">

                            <label>EMAIL</label>
                            <input type="email" name="email" value="<%- user.email %>">

                            <input type="hidden" name="id" value="<%= user._id %>">
                            <input type="submit" value="UPDATE">
                        </form>
                    </div>

                    <div id="account-settings" class="tab-pane fade">
                        <div class="form-container">
                            <form class="minimal mail-sub-toggle-form" method="post" action="/account/edit" id="mail-sub-toggle">
                                <div class="input-group check-option">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <input type="checkbox" id="mail_sub_check" name="mail_sub" value="true" <%- user.mail_sub ? 'checked' : '' %>>
                                        </div>
                                    </div>
                                    <label for="mail_sub_check" class="form-control">
                                        <b>Check to recieve emails</b><br>
                                        <small>(for updates, promotions etc.)</small>
                                    </label>
                                </div>
                                <input type="hidden" name="id" value="<%= user._id %>">
                            </form>

                            <form class="minimal sensitive-form" method="post" action="/subscription/cancel">
                                <input type="hidden" name="sub_id" value="<%- (subscription || {}).id %>">
                                <input type="submit" value="CANCEL SUBSCRIPTION" <%- !subscription ? "disabled" : "" %>>
                            </form>

                            <form class="minimal sensitive-form" method="post" action="/account/delete">
                                <input type="hidden" name="id" value="<%- user._id %>">
                                <button type="submit" class="btn-danger">DELETE ACCOUNT</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#personal-details-edit-form").submit(function(e) {
        e.preventDefault();
        var btnController = new submitBtnController(this);
        $.post(this.action, $(this).serializeArray(), function(result) {
            alert(result);
            location.reload();
        }).fail(function(err) {
            btnController.finish();
            alert(err.responseText);
        });
    });

    $("#mail-sub-toggle input:checkbox").change(function(e) {
        e.preventDefault();
        var form = $(this).closest("form").get(0);
        var data = $(form).serializeArray().slice();
        $(this).attr("disabled", true);
        $.post(form.action, data, function(result) {
            alert(result);
        }).fail(function(err) {
            alert(err.responseText);
        }).always(function() {
            $(e.target).attr("disabled", false);
        });
    });

    $(".sensitive-form").off("submit").submit(function(e) {
        e.preventDefault();
        var confirmation = confirm("Are you sure?");
        if (confirmation) {
            var btnController = new submitBtnController(this);
            $.post(this.action, $(this).serializeArray(), function(result) {
                alert(result);
                location.reload();
            }).fail(function(err) {
                btnController.finish();
                alert(err.responseText);
            });
        }
    });
</script>
<%- include ('partials/footer') -%>