<%- include ('partials/header') -%>
    <section>
        <%_ if (!events.length) { _%>
        <div class="container" style="padding: 10px 0; text-align: center">
            <h1>No events at the moment</h1><p>Please come back later</p>
        </div>
        <%_ } events.forEach((event, i) => { _%>
        <form class="event-item minimal" method="post" action="/events/checkout/session/create">
            <div class="event-title-row">
                <div class="container max-width">
                    <div class="col-sm-6<%= i % 2 !== 0 ? ' col-sm-push-6' : '' %>">
                        <h1><%= event.title %></h1>
                    </div>
                </div>
            </div>
            <div class="container max-width">
                <div class="col-sm-6<%= i % 2 === 0 ? ' col-sm-push-6' : '' %> event-image-container">
                    <img class="event-image" src="<%- event.image.url %>" alt="">
                </div>
                <div class="col-sm-6<%= i % 2 === 0 ? ' col-sm-pull-6' : '' %>">
                    <button type="button" class="submit">BUY TICKETS</button>
                    <p><%- event.info.replace(/\r?\n/, "</p><p>") %></p>
                </div>
            </div>
        </form>
        <%_ }) %>
    </section>
<%- include ('partials/footer') -%>
