<%- include ('partials/header') -%>
        <div id="loadscreen">
            <div class="content">
                <div class="spinner-wrapper">
                    <div class="spinner"></div>
                </div>
            </div>
        </div>
        <section id="overview">
            <div class="bg-layer bg-reel">
                <%_ overview_images.forEach(img => { _%>
                <div class="bg-img" style="background-image: url('<%- img.url %>');"></div>
                <%_ }) _%>
            </div>
        </section>
        <section id="highlights" class="section-overlapped">
            <div id="highlights-carousel" class="carousel slide" data-ride="carousel" data-interval="5000" data-pause="false">
                <div class="carousel-inner" style="overflow: initial;">
                    <%_ highlights.forEach((slide, i) => { _%>
                    <div class="item<%- i === 0 ? ' active' : '' %>">
                        <div class="content-layer container">
                            <div class="row carousel-item-row">
                                <div class="col-sm-5 media-wrapper">
                                    <div class="main-media-large-wrapper" style="background-image: url('<%- slide.media_lg.url %>')">
                                        <img class="main-media large" src="<%- slide.media_lg.url %>" alt="<%- slide.media_lg.url.slice(slide.media_lg.url.lastIndexOf('/') + 1) %>">
                                    </div>
                                    <%_ if (slide.media_sm.url) { _%>
                                    <div class="main-media small dt-view">
                                        <%_ if (slide.media_sm.media_type === "video") { _%>
                                        <video playsinline autoplay muted loop>
                                            <source src="<%- slide.media_sm.url %>">
                                        </video>
                                        <%_ } else { _%>
                                        <img src="<%- slide.media_sm.url %>" alt="<%- slide.media_sm.url.slice(slide.media_sm.url.lastIndexOf('/') + 1) %>">
                                        <%_ }} _%>
                                    </div>
                                </div>
                                <div class="col-sm-7 text-wrapper">
                                    <div class="text">
                                        <h1><%- slide.title %></h1>
                                        <p><a <%- slide.link ? `href="${slide.link}"` : '' %>><%- slide.text_body.replace(/\r?\n/g, "</p><p>") %></a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%_ }) _%>
                </div>

                <%_ if (highlights.length > 1) { _%>
                <a class="left carousel-control" href="#highlights-carousel" data-slide="prev">
                    <span class="arrow fal fa-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#highlights-carousel" data-slide="next">
                    <span class="arrow fal fa-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
                <%_ } _%>
            </div>
        </section>
        <section id="adverts-section" class="lg-text">
            <a href="/ambassador/register">WANT TO BECOME AN AMBASSADOR? CLICK HERE TO JOIN</a>
        </section>
        <section id="reviews-preview-section">
            <div id="reviews-carousel" class="carousel slide" data-ride="carousel" data-interval="4000" data-pause="false">
                <div class="carousel-inner">
                    <%_ reviews.forEach((review, i) => { _%>
                    <div class="review item <%= i == 0 ? 'active' : '' %>">
                        <div class="container" style="max-width: 900px">
                            <%_ if (review.headline) { _%>
                            <div class="review-headline"><%- review.headline %></div>
                            <%_ } _%>
                            <div class="review-rating"><%- "★ ".repeat(review.rating) %></div>
                            <br>
                            <%_ var commentry = review.commentry.length > 140 ? review.commentry.slice(0, 140).replace(/\r?\n/g, '<br>')+"..." : review.commentry.replace(/\r?\n/g, '<br>') _%>
                            <div class="review-commentry"><%- commentry %><%- review.commentry.length > 140 ? ` <a class="read-more-link" href="/reviews#${review.created_at.getTime()}">Read more</a>` : '' %></div>
                            <br>
                            <div class="review-author-name"><small>- <%= review.author_name %></small> <%- review.author_verified ? '<i class="arrow fal fa-badge-check"></i>' : '' %></div>
                        </div>
                    </div>
                    <%_ }) _%>
                </div>
            </div>
        </section>
        <script>
            $(".bg-reel").each(function() { // bg auto-playing slideshow
                var bgreel = this;
                $(bgreel).children("div:gt(0)").fadeTo(0, 0);
                setInterval(function() {
                    $(bgreel).children('div:first')
                        .fadeTo(2000, 0)
                        .dequeue()
                        .next()
                        .fadeTo(0, 1)
                        .end()
                        .appendTo(bgreel);
                }, 5000);
            });

            $(window).on("load", function() {
                $("#loadscreen").fadeOut(1000, function() { $(this).remove() })
            });
        </script>
<%- include ('partials/footer') -%>
