<%- include ('partials/header') -%>
    <section>
        <div class="container">
            <div class="order">
                <h1>ORDER <span># <%- order.id %></span></h1>
                <div class="row" id="header-summary">
                    <div class="col-sm-<%= dc_used ? '4 col-6' : 6 %> float-left order-sm-1">
                        <p>Date of purchase</p>
                        <%_ const day = order.created_at.getDate(); _%>
                        <%_ const month = order.created_at.getMonth() + 1; _%>
                        <%_ const year = order.created_at.getFullYear(); _%>
                        <%_ const order_date = `${ day < 10 ? "0"+day : day }/${ month < 10 ? "0"+month : month }/${ year }` _%>
                        <p><b><%- order_date %></b></p>
                    </div>
                    <%_ if (dc_used) { _%>
                    <div class="col-sm-4 col-6 float-left order-sm-3 float-left">
                        <p>Discount code</p>
                        <p><b><%= dc_used.code %></b><br><%= dc_used.percentage %>% off</p>
                    </div>
                    <%_ } _%>
                    <div class="col-sm-<%= dc_used ? '4 order-sm-2 float-left' : 6 %> float-left" id="tracking-ref">
                        <%_ if (order.tracking_ref === "N/A") { _%>
                        <p>Tracking reference not applicable for this order</p>

                        <%_ } else if (order.tracking_ref) { _%>
                        <p>Tracking Reference:</p>
                        <p><b><%= order.tracking_ref %></b></p>

                        <%_ } else if (is_admin) {
                            const link = `/shipping/tracking/ref/send?id=${order.id}`; _%>
                        <a href="<%= link %>">
                            <button id="link-to-add-btn" type="button">ADD TRACKING NUMBER</button>
                        </a>

                        <%_ } else { _%>
                        <p>Tracking Reference:</p>
                        <p><b>PENDING...</p>
                        <%_ } _%>
                    </div>
                </div><br>
                <div class="row" id="order-details">
                    <div class="detail col-lg-4 col-md-6 float-left">
                        <p><b>NAME</b></p>
                        <p><%- order.customer_name %></p>

                        <p><b>EMAIL</b></p>
                        <p><%= order.customer_email %></p>
                    </div>
                    <div class="detail col-lg-4 col-md-6 float-left">
                        <p><b>ADDRESS</b></p>
                        <p>
                            <%= order.destination.line1 %><br>
                            <%- order.destination.line2 ? order.destination.line2 + "<br>": "" %>
                            <%= order.destination.city %><br>
                            <%- order.destination.state ? order.destination.state + "<br>": "" %>
                            <%= order.destination.country == "GB" ? "UK" : order.destination.country %><br>
                            <%= order.destination.postal_code || order.destination.postcode || "" %>
                        </p>
                    </div>
                    <div class="col-lg-4 col-12 float-left">
                        <h2>
                            <%_ var sum = order.cart.map(item => ({ price: item.price, qty: item.qty })).reduce((sum, item) => sum + (item.price * item.qty), 0);
                                const method = shipping_method || { name: "Free", fee: 0 }
                                const discount_calc = dc_used ? (dc_used.percentage / 100) * sum : 0;
                                const sum_original = sum;
                                sum = (sum + method.fee) - discount_calc; _%>
                            <small>£<%= (sum_original > 1 ? sum_original / 100 : 0).toFixed(2) %> <span>(Sub-total)</span></small><br>
                            <small>+ £<%= (method.fee > 1 ? method.fee / 100 : 0).toFixed(2) %> <span>(<%= method.name %> delivery)</span></small><br>
                            <%_ if (dc_used) { _%>
                            <small>- £<%= (discount_calc / 100).toFixed(2) %> <span>(Discount, excl. delivery)</span></small>
                            <br><br>
                            TOTAL: <b>£<%= (sum > 1 ? sum / 100 : 0).toFixed(2) %></b>
                            <%_ } _%>
                        </h2>
                    </div>
                </div>

                <div class='table-responsive'>
                    <table id="order-items-table" class="table table-hover">
                        <thead>
                            <tr>
                                <th>ITEM</th>
                                <th>QUANTITY</th>
                                <th>PRICE TOTAL</th>
                                <th>DEAL ITEMS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%_ order.cart.forEach(item => { _%>
                            <tr>
                                <td><%= item.name %></td>
                                <td><%= item.qty %></td>
                                <td>£<%= (item.price > 1 ? item.price / 100 : 0).toFixed(2) %></td>
                                <td>
                                    <%_ if (item.deal) { _%>
                                    <ul>
                                    <%_ item.items.forEach(p => { _%>
                                        <li><%= p.qty %> x <%= p.name %></li>
                                    <%_ }) _%>
                                    </ul>
                                    <%_ } _%>
                                </td>
                            </tr>
                            <%_ }) _%>
                        </tbody>
                    </table>
                </div>
                <br>
                <p class="mb-view">
                    <i class="fal fa-info-circle" style="margin-right: 5px"></i>
                    <b>Scroll the table horizontally to view more details</b>
                </p>
            </div>
        </div>
    </section>
<%- include ('partials/footer') -%>
