<%- include ('partials/header') -%>
    <section>
        <div class="container">
            <div class="order">
                <h1>ORDER <span># <%- order.id %></span></h1>
                <div class="row" id="header-summary">
                    <div class="col-sm-<%= dc_used ? '4 col-xs-6' : 6 %>">
                        <p>Date of purchase</p>
                        <%_ const day = order.created_at.getDate(); _%>
                        <%_ const month = order.created_at.getMonth() + 1; _%>
                        <%_ const year = order.created_at.getFullYear(); _%>
                        <%_ const order_date = `${ day < 10 ? "0"+day : day }/${ month < 10 ? "0"+month : month }/${ year }` _%>
                        <p><b><%- order_date %></b></p>
                    </div>
                    <%_ if (dc_used) { _%>
                    <div class="col-sm-4 col-xs-6 col-sm-push-4">
                        <p>Discount code</p>
                        <p><b><%= dc_used.code %></b><br><%= dc_used.percentage %>% off</p>
                    </div>
                    <%_ } _%>
                    <div class="col-sm-<%= dc_used ? '4 col-sm-pull-4' : 6 %>" id="tracking-ref">
                        <%_ const event_tkt_present = order.cart.find(item => /^\'(.*?)\' event ticket$/i.test(item.name));
                            if (!order.tracking_ref) {
                            if (is_admin) { _%>
                        <a<%- !event_tkt_present ? ` href="/shipping/tracking/ref/send?id=${order.id}"` : "" %>>
                            <button id="link-to-add-btn" type="button"<%- event_tkt_present ? ' disabled' : '' %>>ADD TRACKING NUMBER</button>
                        </a>
                        <%_ } else { _%>
                        <p>Tracking Reference:</p>
                        <p><b>PENDING...</p>
                        <p><small>(not applicable for event ticket purchases)</small></b></p>
                        <%_ }} else { _%>
                        <p>Tracking Reference:</p>
                        <p><b><%= order.tracking_ref %></b></p>
                        <%_ } _%>
                    </div>
                </div><br>
                <div class="row" id="order-details">
                    <div class="detail col-sm-4">
                        <p><b>NAME</b></p>
                        <p><%- order.customer_name %></p>
                    </div>
                    <div class="detail col-sm-4">
                        <p><b>EMAIL</b></p>
                        <p><%= order.customer_email %></p>
                    </div>
                    <div class="detail col-sm-4">
                        <p><b>ADDRESS</b></p>
                        <p>
                            <%= order.destination.line1 %><br>
                            <%- order.destination.line2 ? order.destination.line2 + "<br>": "" %>
                            <%= order.destination.city %><br>
                            <%= order.destination.country == "GB" ? "UK" : order.destination.country %><br>
                            <%- order.destination.state ? order.destination.state + "<br>": "" %>
                            <%= order.destination.postal_code || order.destination.postcode || "" %>
                        </p>
                    </div>
                </div>

                <h2>
                    TOTAL:
                    <%_ var sum = order.cart.map(item => ({ price: item.price, qty: item.qty })).reduce((sum, item) => sum + (item.price * item.qty), 0);
                        const method = shipping_method || { name: "Free", fee: 0 }
                        const discount_calc = dc_used ? (dc_used.percentage / 100) * sum : 0;
                        const sum_original = sum;
                        sum = (sum + method.fee) - discount_calc; _%>
                    <b>£<%= (sum > 1 ? sum / 100 : 0).toFixed(2) %></b><br><br>
                    <small style="color: inherit;">£<%= (sum_original > 1 ? sum_original / 100 : 0).toFixed(2) %> (Original total)</small><br>
                    <small style="color: inherit;">+ £<%= (method.fee > 1 ? method.fee / 100 : 0).toFixed(2) %> (<%= method.name %> delivery)</small><br>
                    <%_ if (dc_used) { _%>
                    <small style="color: inherit;">- £<%= (discount_calc / 100).toFixed(2) %> (Discounted from total, excluding delivery)</small>
                    <%_ } _%>
                </h2>
                <div class='table-responsive'>
                    <table id="order-items-table" class="table table-borderless table-hover">
                        <thead>
                            <tr>
                                <th>ITEM</th>
                                <th>QUANTITY</th>
                                <th>PRICE TOTAL</th>
                                <th>DEAL ITEMS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%_ order.cart.forEach(item => { _%>
                            <tr>
                                <td><%= item.name %></td>
                                <td><%= item.qty %></td>
                                <td>£<%= (item.price > 1 ? item.price / 100 : 0).toFixed(2) %></td>
                                <td>
                                    <%_ if (item.deal) { _%>
                                    <ul>
                                    <%_ item.items.forEach(p => { _%>
                                        <li><%= p.qty %> x <%= p.name %></li>
                                    <%_ }) _%>
                                    </ul>
                                    <%_ } _%>
                                </td>
                            </tr>
                            <%_ }) _%>
                        </tbody>
                    </table>
                </div>
                <br>
                <p class="mb-view">
                    <i class="fal fa-info-circle" style="margin-right: 5px"></i>
                    <b>Scroll the table horizontally to view more details</b>
                </p>
            </div>
        </div>
    </section>
<%- include ('partials/footer') -%>
