<%- include ('partials/header') -%>
        <section>
            <div class="container section-label">
                <div class="label-bg"></div>
                <div class="label-text"><h2><%= title.toUpperCase().replace(/ collection/i, "") %></h2></div>
            </div>
            <div class="thumb-container">
                <div class="container">
                    <div class="row">
                        <%_ collection.forEach(product => { _%>
                        <div class="thumb col-md-3 col-sm-4">
                            <div class="thumb-inner">
                                <a href="/product/<%= product.category + '/' + product.name %>">
                                    <div class="thumb-img product-image" style="background-image: url('<%- product.image.url %>');"></div>
                                </a>
                                <div class="thumb-info">
                                    <div class="product-name"><p><%= product.name %></p></div>
                                    <div class="product-price">
                                        <%_ const price = is_ambassador ? product.price_amb : product.price;
                                            const price_original = is_ambassador ? " <del>£" + (product.price / 100).toFixed(2) + "</del>" : "" _%>
                                        <p>£<%- (price / 100).toFixed(2) + price_original %></p>
                                    </div>
                                    <div class="cart-options">
                                        <form class="add-to-cart minimal" action="/shop/cart/add">
                                            <div class="quantity-wrapper">
                                                <button type="button" class="quantity-control-btn" data-step="-1">-</button>
                                                <input class="product-quantity" type="number" name="quantity" min="1" max="<%= product.stock_qty %>" value="1">
                                                <button type="button" class="quantity-control-btn" data-step="1">+</button>
                                            </div>
                                            <input type="hidden" name="id" value="<%- product.id %>">
                                            <button class="add-to-cart-btn"><i class="fal fa-cart-arrow-down" style=""></i></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%_ }) _%>
                    </div>
                </div>
            </div>
        </section>
<%- include ('partials/footer') -%>
