<%_ include partials/header _%>
    <div class="product-view-container container">
        <div class="col-sm-7 product-images">
            <%_ if (product.images.length === 1) { _%>
                <div class="product-image-single">
                    <img src="<%- product.images[0].url %>" alt="<%- product.name %>">
                </div>
            <%_ } else { _%>
            <div class="slider-container">
                <div class="slider-content">
                    <%_ product.images.forEach(image => { _%>
                    <div class="slider-single">
                        <div class="slider-single-image" style="background-image: url('<%- image.url %>')"></div>
                        <h1 class="slider-single-title"></h1>
                    </div>
                    <%_ }) _%>
                </div>
            </div>
            <%_ } _%>
        </div>
        <div class="col-sm-5 product-info">
            <div class="details" id="name"><%= product.name %></div>
            <div class="details" id="price">£<%= (parseFloat(product.price) / 100).toFixed(2) %></div>
            <div class="details" id="category"><%= product.category.charAt(0).toUpperCase() + product.category.slice(1).replace(/_/g, " ") %></div>
            <%_ if (product.product_collection) { _%>
            <div class="details" id="collection"><%= product.product_collection.charAt(0).toUpperCase() + product.product_collection.slice(1).replace(/_/g, " ") %> Collection</div>
            <%_ } _%>
        </div>
    </div>
<%_ include partials/footer _%>
