<%_ include partials/header _%>
        <section>
            <div class="container section-label">
                <div class="label-bg"></div>
                <div class="label-text"><h2><%= title.toUpperCase().replace(/ collection/i, "") %></h2></div>
            </div>
            <div class="thumb-container">
                <div class="container">
                    <div class="row">
                        <%_ collection.forEach(product => { _%>
                        <div class="thumb col-md-3 col-sm-4" style="height: 350px;">
                            <a href="/product/<%= product.id %>">
                                <div class="thumb-img product-image" style="background-image: url('<%- product.images[0].url %>');"></div>
                            </a>
                            <div class="thumb-info">
                                <p class="product-name"><%= product.name %></p>
                                <p>£<%- (product.price / 100).toFixed(2) %></p>
                                <div class="cart-options">
                                    <form class="add-to-cart minimal" action="/shop/cart/add">
                                        <input type="hidden" name="id" value="<%- product.id %>">
                                        <button class="add-to-cart-btn"><i class="fal fa-cart-plus" style=""></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <%_ }) _%>
                    </div>
                </div>
            </div>
            <script>
                $(".add-to-cart").submit(function(e) {
                    e.preventDefault();
                    var $submitBtn = $(e.target).find("input[type=submit]");
                    var initialVal = $submitBtn.data("value");
                    var btnControl = new submitBtnController(this);
                    $.post(this.action, $(this).serializeArray(), function(item_count) {
                        $("#cart-icon").toggleClass("visible", item_count > 0);
                        $("#cart-item-count").text(item_count);
                    }).fail(function(err) {
                        alert(err.responseText);
                    }).always(function() {
                        btnControl.finish();
                        $submitBtn.val("ADDED!");
                        setTimeout(function() { $submitBtn.val(initialVal) }, 2000);
                    })
                });
            </script>
        </section>
<%_ include partials/footer _%>
