<%- include ('partials/header') -%>
        <section>
            <div class="container section-label">
                <div class="label-bg"></div>
                <div class="label-text"><h2><%= title.toUpperCase().replace(/ collection/i, "") %></h2></div>
            </div>
            <div class="thumb-container">
                <div class="container">
                    <div class="row">
                        <%_ collection.forEach(product => { _%>
                        <div class="thumb col-lg-3 col-md-4 float-left">
                            <div class="thumb-inner">
                                <a href="/product/<%= product.category + '/' + product.name %>">
                                    <div class="thumb-img product-image<%= product.stock_qty < 1 ? ' sold-out' : '' %>" style="background-image: url('<%- product.image ? product.image.url : '' %>');">
                                        <%_ if (product.price_sale) { _%>
                                        <div class="sale-ribbon">SALE</div>
                                        <%_ } _%>
                                    </div>
                                </a>
                                <div class="thumb-info">
                                    <div class="product-name"><p><%= product.name %></p></div>
                                    <div class="product-price">
                                        <%_ const price = is_ambassador ? product.price_amb : sale_sitewide || sale && product.price_sale ? product.price_sale : product.price;
                                            const price_original = product.price_sale? " <del>£" + (product.price / 100).toFixed(2) + "</del>" : "" _%>
                                        <p>£<%- (price / 100).toFixed(2) + price_original %></p>
                                    </div>
                                    <div class="cart-options">
                                        <form class="add-to-cart minimal">
                                            <input type="hidden" name="id" value="<%- product.id %>">
                                            <%_ if (product.stock_qty > 0) { _%>
                                            <div class="quantity-wrapper">
                                                <button type="button" class="quantity-control-btn" data-step="-1">-</button>
                                                <input class="product-quantity" type="number" name="quantity" min="1" max="<%= product.stock_qty %>" value="1">
                                                <button type="button" class="quantity-control-btn" data-step="1">+</button>
                                            </div>

                                            <button formaction="/shop/cart/add" class="add-to-cart-btn <%= product.pre_release ? 'pre-order' : '' %>">
                                                <%- product.pre_release ? "PRE-ORDER" : '<i class="fal fa-cart-arrow-down"></i>' %>
                                            </button>
                                            <%_ } else { _%>
                                            <div class="sold-out-label">SOLD OUT</div>
                                            <%_ } _%>
                                            <button formaction="/wishlist/add" class="add-to-cart-btn"><i class="fal fa-heart"></i></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%_ }) _%>
                    </div>
                </div>
            </div>
        </section>
        <script>
            if (!("mix-blend-mode" in document.body.style)) $(".section-label .label-bg + .label-text h2").addClass("alt-fallback");
        </script>
<%- include ('partials/footer') -%>
