<%- include ('partials/header') -%>
    <section>
        <div class="container section-label">
            <div class="label-bg"></div>
            <div class="label-text"><h2>MONTHLY LASHES</h2></div>
        </div>
    </section>
    <section id="summary">
        <div id="summary-body">
            <%_ const overflow_length = info.length > info.slice(0, 300).length;
            const overflow_lines = info.split(/\r?\n/g).length > 3;
            const ellipses = overflow_length || overflow_lines ? "..." : ""; _%>
            <p><%- info.split(/\r?\n/g).slice(0, 3).join("\n").slice(0, 300).replace(/\r?\n/g, "</p><p>") + ellipses %></p>
        </div>
        <%_ if (overflow_length || overflow_lines) { _%>
        <a id="summary-expand" data-toggle="modal" data-target="#summary-modal">SEE MORE</a>
        <div id="summary-modal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-icons">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div id="summary-body-expanded"><p><%- info.replace(/\r?\n/g, "</p><p>") %></p></div>
                    </div>
                </div>
            </div>
        </div>
        <%_ } _%>
    </section>
    <section>
        <div class="container">
            <form id="subscription-options" method="post" action="/shop/subscription/setup" class="minimal">
                <div class="row">
                    <%_ subscription_plans.forEach(plan => { _%>
                    <div class="col-md-3 col-sm-4 float-left">
                        <div class="subscription-opt">
                            <p class="sub-label"><%= plan.name %></p>
                            <div class="img" style="background-image: url(<%- plan.image.url || '/favicon.ico' %>);<%- plan.image.url ? '' : ' opacity: .5' %>"></div>
                            <h3 class="price">£<%= (plan.price / 100).toFixed(2) %></h3>
                            <div class="info">
                                <p><%- plan.info.replace(/\r?\n/, "</p><p>") %></p>
                            </div>
                            <input class="select-radio-opt" type="radio" name="plan" value="<%= plan._id %>" required>
                            <button class="select-btn" type="button">
                                <span><i class="fal fa-circle"></i></span>
                                <span><i class="fas fa-check-circle"></i></span>
                            </button>
                        </div>
                    </div>
                    <%_ }) _%>
                </div>

                <div class="row">
                    <button type="button" class="submit" data-toggle="modal" data-target="#customer-details-modal">START TODAY</button>
                </div>

                <div id="customer-details-modal" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-icons">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="form">
                                    <fieldset>
                                        <legend>CHECKOUT DETAILS</legend>
                                        <%_ const firstname = user && !is_admin ? user.firstname : "";
                                            const lastname = user && !is_admin ? user.lastname : "";
                                            const email = user && !is_admin ? user.email : ""; _%>
                                        <fieldset>
                                            <div class="row">
                                                <div class="col-sm-6 float-left">
                                                    <label for="firstname">FIRST NAME</label>
                                                    <input type="text" name="firstname" value="<%- firstname %>" required>
                                                </div>
                                                <div class="col-sm-6 float-left">
                                                    <label for="lastname">LAST NAME</label>
                                                    <input type="text" name="lastname" value="<%- lastname %>" required>
                                                </div>
                                            </div>
                                        </fieldset>
                                        <label for="email">EMAIL</label>
                                        <input type="email" name="email" value="<%= email %>" required>
                                        <label for="address_l1">ADDRESS</label>
                                        <input type="text" name="address_l1" placeholder="LINE 1" required>
                                        <input type="text" name="address_l2" placeholder="LINE 2 (OPTIONAL)">
                                        <fieldset>
                                            <div class="row">
                                                <div class="col-sm-6 float-left">
                                                    <label for="city">CITY</label>
                                                    <input type="text" name="city" required>
                                                </div>
                                                <div class="col-sm-6 float-left">
                                                    <label for="state">STATE <span>/ COUNTY / REGION</span></label>
                                                    <input type="text" name="state" placeholder="(OPTIONAL)">
                                                </div>
                                                <div class="col-sm-6 float-left">
                                                    <label for="country">COUNTRY <i class="dropdown-arrow fal fa-chevron-down"></i></label>
                                                    <select name="country" required>
                                                        <option value="">-</option>
                                                        <%_ for (var k in countries) { _%>
                                                        <option value="<%- k %>"><%- countries[k] %></option>
                                                        <%_ } _%>
                                                    </select>
                                                </div>
                                                <div class="col-sm-6 float-left">
                                                    <label for="postcode">POST <span>/ ZIP CODE</span></label>
                                                    <input type="text" name="postcode" required>
                                                </div>
                                            </div>
                                        </fieldset>
                                        <button type="submit">
                                            <span class="btn-label"><i class="icon fal fa-credit-card"></i> <span>BUY NOW</span></span>
                                        </button>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        if (!("mix-blend-mode" in document.body.style)) $(".section-label .label-bg + .label-text h2").addClass("alt-fallback");

        $(".select-btn").click(function() {
            $(this).prev(".select-radio-opt").prop("checked", true);
            $("button[data-target='#customer-details-modal']").attr("disabled", !$(".select-radio-opt").is(":checked"));
        });

        $("#subscription-options").submit(function(e) {
            e.preventDefault();
            var btnControl = new submitBtnController(this, "REDIRECTING");
            $.post(this.action, $(this).serializeArray(), function(data) {
                var stripe = Stripe(data.pk);
                return stripe.redirectToCheckout({ sessionId: data.id });
            }).then(function(result) {
                if (result.error) { btnControl.finish(); alert(result.error.message); }
            }).fail(function(err, status, codeMessage) {
                btnControl.finish();
                var qs = (err.responseJSON || {}).qs || "";
                if (!qs) return alert(codeMessage + (err ? ": " + err.responseText : ""));
                var c = confirm("You will need to be logged in to sign up.\nWant to proceed? You will be redirected back here and your changes won't be lost.");
                if (c) location.href = "/account/login?redirect_to=" + location.pathname + "&" + qs;
            });
        });

        location.search.slice(1).split("&").map(function(e) { return e.split("=") }).forEach(function(a) {
            $("#subscription-options :input[name='"+ a[0] +"']").not("[type=checkbox], [type=radio]").val(decodeURIComponent(a[1]));
            $("#subscription-options :input").filter("[type=checkbox], [type=radio][value='"+ a[1] +"']").prop("checked", !!a[1]);
        });

        $("button[data-target='#customer-details-modal']").attr("disabled", !$(".select-radio-opt").is(":checked"));
    </script>
<%- include ('partials/footer') -%>
