<%- include ('partials/header') -%>
    <%_ if (error) { _%>
    <section>
        <div class="container" style="text-align: center;">
            <h1><%= error %></h1>
        </div>
    </section>
    <%_ } else { _%>
    <div class="form-container">
        <form method="post" action="/shipping/tracking/ref/send">
            <label>TRACKING REF / NUMBER</label>
            <input type="text" name="tracking_ref" required>

            <fieldset>
                <div class="row">
                    <div class="col-sm-6 float-left">
                        <input type="text" value="<%= order.customer_name %>" disabled>
                    </div>
                    <div class="col-sm-6 float-left">
                        <input type="text" value="<%= order.customer_email %>" disabled>
                    </div>
                </div>
            </fieldset>

            <%_ var destination = "";
                destination += order.destination.line1 + "\n";
                destination += (order.destination.line2 ? order.destination.line2 + "\n" : "");
                destination += order.destination.city + "\n";
                destination += order.destination.state ? order.destination.state + "\n" : "";
                destination += order.destination.country == "GB" ? "UK\n" : order.destination.country + "\n";
                destination += order.destination.postal_code || order.destination.postcode || "";
            _%>
            <textarea rows="10" disabled><%- destination %></textarea>

            <input type="hidden" name="id" value="<%= order.id %>" required>
            <input type="submit" value="SEND">
        </form>
    </div>
    <script>
        $("form").submit(function(e) {
            e.preventDefault();
            if (confirm("Are you sure this is the right tracking number?")) {
                var btnController = new submitBtnController(this);
                $.post(this.action, $(this).serializeArray(), function(result) {
                    Alert(result);
                    e.target.reset();
                }).fail(function(err) {
                    Alert(err.responseText);
                }).always(function() {
                    btnController.finish();
                });
            }
        });
    </script>
    <%_ } _%>
<%- include ('partials/footer') -%>
