<html>
    <head>
        <style>
            #mail-body {
                font-family: Arial, sans-serif;
                font-size: 13px;
                margin: 0;
            }
            .section {
                padding-top: 30px;
                padding-bottom: 30px;
            }
            .header.section {
                padding: 10px 0;
            }
            .header.section #logo {
                letter-spacing: 2px;
            }
            .header, .footer {
                background-color: rgb(124, 76, 76);
                color: rgb(250, 128, 114);
                text-align: center;
            }
            .footer a + a {
                margin-left: 10px;
            }
            #mail-body .social-icon {
                -webkit-filter: invert(100%);
                filter: invert(100%);
            }
            .centered-block {
                margin-left: auto;
                margin-right: auto;
                max-width: 550px;
                padding-left: 15px;
                padding-right: 15px;
            }
        </style>
    </head>
    <body id="mail-body">
        <div class="header section">
            <div id="logo">COCOHONEY COSMETICS</div>
        </div>
        <div class="main section centered-block" id="message">
            <%- 
                (function() {
                    var url_pattern = /(?:(?:https?|ftp|file|data):\/\/|www\.|ftp\.)(?:\([-A-Z0-9+&@#\/%=~_|$?!:,.]*\)|[-A-Z0-9+&@#\/%=~_|$?!:,.])*(?:\([-A-Z0-9+&@#\/%=~_|$?!:,.]*\)|[A-Z0-9+&@#\/%=~_|$])/gi;
                    var email_pattern = /([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})/gi;
                    return message.replace(/\r?\n/g, "<br>").replace(/\t/g, "&emsp;").replace(url_pattern, match => {
                        var href = /^www/.test(match) || !/^(https?|ftp|file|data)/.test(match) ? "http://" + match : match;
                        return "<a style='color: inherit!important' target='_blank' href='"+ href +"'>" + match + "</a>"
                    }).replace(email_pattern, match => {
                        var href = "mailto:" + match;
                        return "<a style='color: inherit!important' target='_blank' href='"+ href +"'>" + match + "</a>"
                    });
                })()
            %>
        </div>
        <div class="footer section">
            <p style="font-size: .8em;">&copy; Cocohoney Cosmetics <%= new Date().getFullYear() %></p>
            <%_ if (member.id) { _%>
            <p class="centered-block" style="font-size: .8em;">You are receiving this email because you have subscribed to us, Cocohoney Cosmetics, to receive updates and promotional material.</p>
            <p style="font-size: .8em;"><a style="color: inherit!important" href="<%- location_origin %>/<%= member.ambassador ? 'ambassador/' : '' %>account/delete?id=<%= member.id %>&src=email_unsub_link<%= member.id %>">Unsubscribe</a></p>
            <%_ } _%>
        </div>
    </body>
</html>
