<div class="nav nav-pills justify-content-center">
    <a class="nav-link active" data-toggle="pill" href="#new-box">NEW</a>
    <a class="nav-link" data-toggle="pill" href="#edit-box">EDIT</a>
    <a class="nav-link" data-toggle="pill" href="#remove-box">REMOVE</a>
</div>

<div class="tab-content" style="padding-top: 10px;">
    <div id="new-box" class="new-form-tab tab-pane fade show active">
        <form method="post" action="/deal/box/add">
            <label>NAME</label>
            <input type="text" name="name" id="box_name" required>

            <label>PRICE (£)</label>
            <input type="number" name="price" id="box_price" min="0.01" step="0.01" required>

            <label>MAX NUMBER OF ITEMS</label>
            <input type="number" name="max_items" id="box_max_items" min="0" required>

            <label>ITEMS TO INCLUDE</label>
            <%_ const categories = [...new Set(products.map(p => p.category))]; _%>
            <div class="nav nav-pills justify-content-center">
                <%_ categories.forEach((c, i) => {
                    const c_name = c.charAt(0).toUpperCase() + c.slice(1); _%>
                <a class="nav-link<%= i == 0 ? ' active' : '' %>" data-toggle="pill" href="#<%= c %>"><%= c_name %></a>
                <%_ }) _%>
            </div>
            <div class="tab-content" style="padding-top: 10px;">
                <%_ categories.forEach((c, i) => { _%>
                <div id="<%= c %>" class="tab-pane fade <%= i === 0 ? 'show active' : '' %>">
                    <%_ const filtered = products.filter(p => p.category === c); _%>
                    <%_ if (filtered.length > 1) {
                        const gen_id = Math.round(Math.random() * 100000); _%>
                    <div class="row">
                        <div class="col-sm-12 float-left">
                            <div class="input-group check-option">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="checkbox" id="<%= gen_id %>" class="box_item_all" value="true">
                                    </div>
                                </div>
                                <label class="form-control" for="<%= gen_id %>">Select all</label>
                            </div>
                        </div>
                    </div>
                    <%_ } _%>
                    <div class="row">
                        <%_ filtered.forEach(p => {
                            const gen_id = Math.round(Math.random() * 100000); _%>
                        <div class="col-sm-6 float-left">
                            <div class="input-group check-option">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="checkbox" id="<%= gen_id %>" class="box_item" name="box_item" value="<%= p._id %>">
                                    </div>
                                </div>
                                <label class="form-control" for="<%= gen_id %>"><%= p.name %></label>
                            </div>
                        </div>
                        <%_ }) _%>
                    </div>
                </div>
                <%_ }) _%>
            </div>

            <label>INFO <span>(OPTIONAL)</span></label>
            <textarea name="info" id="box_info" rows="10"></textarea>

            <label>IMAGE</label>
            <fieldset class="file-upload-container">
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="box_image_file" accept="image/*" data-fieldname="image_file">
                        <label class="custom-file-label">Upload image</label>
                    </div>
                    <input type="hidden" name="image_file">
                    <div class="input-group-append">
                        <button class="clear-uploads btn" type="button" data-id="box_image_file">CLEAR</button>
                    </div>
                </div>
                <input type="url" name="image_url" id="box_image_url" placeholder="Or enter the image URL">
            </fieldset>

            <input type="submit" value="SAVE">
        </form>
    </div>

    <div id="edit-box" class="edit-form-tab tab-pane fade">
        <form method="post" action="/deal/box/edit">
            <label>SELECT BOX <i class="dropdown-arrow fal fa-chevron-down"></i></label>
            <select name="id" id="box_id">
                <option value="">-</option>
                <%_ boxes.forEach(box => { _%>
                <option value="<%= box._id %>"><%= box.name %></option>
                <%_ }) _%>
            </select>

            <label>NAME</label>
            <input type="text" name="name" id="box_name_edit">

            <label>PRICE (£)</label>
            <input type="number" name="price" id="box_price_edit" min="0.01" step="0.01">

            <label>MAX NUMBER OF ITEMS</label>
            <input type="number" name="max_items" id="box_max_items_edit" min="0">

            <label>ITEMS TO INCLUDE</label>
            <div class="nav nav-pills justify-content-center">
                <%_ categories.forEach((c, i) => {
                    const c_name = c.charAt(0).toUpperCase() + c.slice(1); _%>
                <a class="nav-link<%= i == 0 ? ' active' : '' %>" data-toggle="pill" href="#<%= c %>_edit"><%= c_name %></a>
                <%_ }) _%>
            </div>
            <div class="tab-content" style="padding-top: 10px;">
                <%_ categories.forEach((c, i) => { _%>
                <div id="<%= c %>_edit" class="tab-pane fade <%= i === 0 ? 'show active' : '' %>">
                    <%_ const filtered = products.filter(p => p.category === c); _%>
                    <%_ if (filtered.length > 1) {
                        const gen_id = Math.round(Math.random() * 100000); _%>
                    <div class="row">
                        <div class="col-sm-12 float-left">
                            <div class="input-group check-option">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="checkbox" id="<%= gen_id %>" class="box_item_all" value="true">
                                    </div>
                                </div>
                                <label class="form-control" for="<%= gen_id %>">Select all</label>
                            </div>
                        </div>
                    </div>
                    <%_ } _%>
                    <div class="row">
                        <%_ filtered.forEach(p => {
                            const gen_id = Math.round(Math.random() * 100000); _%>
                        <div class="col-sm-6 float-left">
                            <div class="input-group check-option">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="checkbox" id="<%= gen_id %>" class="box_item_edit" name="box_item" value="<%= p._id %>">
                                    </div>
                                </div>
                                <label class="form-control" for="<%= gen_id %>"><%= p.name %></label>
                            </div>
                        </div>
                        <%_ }) _%>
                    </div>
                </div>
                <%_ }) _%>
            </div>

            <label>INFO <span>(OPTIONAL)</span></label>
            <textarea name="info" id="box_info_edit" rows="10"></textarea>

            <label>IMAGE</label>
            <fieldset class="file-upload-container">
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="box_image_file_edit" accept="image/*" data-fieldname="image_file">
                        <label class="custom-file-label">Upload image</label>
                    </div>
                    <input type="hidden" name="image_file">
                    <div class="input-group-append">
                        <button class="clear-uploads btn" type="button" data-id="box_image_file_edit">CLEAR</button>
                    </div>
                </div>
                <input type="url" name="image_url" id="box_image_url_edit" placeholder="Or enter the image URL">
            </fieldset>

            <input type="submit" value="SAVE">
        </form>
    </div>

    <div id="remove-box" class="remove-form-tab tab-pane fade">
        <%_ if (boxes.length) { _%>
        <form action="/deal/box/remove" method="post" class="search-scope">
            <label>DELETE BOX(S)</label>

            <div class="input-group">
                <div class="input-group-prepend">
                    <label class="input-group-text form-control"><i class="fal fa-search"></i></label>
                </div>
                <input class="form-control filter-search-input" type="search">
            </div>
            <br>

            <%_ boxes.forEach((box, i) => {
                const gen_id = Math.round(Math.random() * 100000); _%>
            <div class="input-group check-option list-item">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="checkbox" id="<%= gen_id %>" name="box<%= i %>" value="<%= box._id %>">
                    </div>
                </div>
                <label class="form-control search-option" for="<%= gen_id %>"><%= box.name %></label>
            </div>
            <%_ }) _%>
            <br>

            <input type="submit" value="DELETE BOXES">
        </form>
        <%_ } else { _%>
        <p class="no-removable-items-label"><b>NO BOXES TO REMOVE</b></p>
        <%_ } _%>
    </div>
</div>

<script>
    $(".box_item_all").change(function() {
        $(this).closest(".tab-pane").find(".box_item, .box_item_edit").prop("checked", this.checked);
    });
    $(".box_item, .box_item_edit").change(function() {
        $(this).closest(".tab-pane").find(".box_item_all").prop("checked", false);
    });
</script>