<ul class="nav nav-pills">
    <li class="active"><a data-toggle="pill" href="#new-discount-code">NEW</a></li>
    <li><a data-toggle="pill" href="#edit-discount-code">EDIT</a></li>
    <li><a data-toggle="pill" href="#remove-discount-code">REMOVE</a></li>
    <li><a data-toggle="pill" href="#discount-code-list">LIST</a></li>
</ul>

<div class="tab-content" style="padding-top: 10px;">
    <div id="new-discount-code" class="new-form-tab tab-pane fade in active">
        <form method="post" action="/admin/discount_code/add">
            <label>ADD DISCOUNT CODE</label>
            <input type="text" name="code" id="discount_code_value" required>

            <label>DISCOUNT PERCENTAGE (%)</label>
            <input type="number" name="percentage" id="discount_percentage" min="0" max="100" value="10" required>

            <label>SET EXPIRY DATE</label>
            <input type="date" name="expiry_date" id="discount_code_expiry_date" placeholder="YYYY/MM/DD" required>

            <input type="submit" value="SAVE">
        </form>
    </div>

    <div id="edit-discount-code" class="edit-form-tab tab-pane fade">
        <form method="post" action="/admin/discount_code/edit">
            <label>SELECT DISCOUNT CODE <i class="dropdown-arrow fal fa-chevron-down"></i></label>
            <select name="id" id="discount_code_id">
                <option value="">-</option>
                <%_ discount_codes.forEach(dc => { _%>
                <option value="<%= dc._id %>"><%= dc.code %></option>
                <%_ }) _%>
            </select>

            <label>DISCOUNT CODE</label>
            <input type="text" name="code" id="discount_code_value_edit">

            <label>DISCOUNT PERCENTAGE (%)</label>
            <input type="number" name="percentage" id="discount_percentage_edit" min="0" max="100" value="10">

            <label>EXPIRY DATE</label>
            <input type="date" name="expiry_date" id="discount_code_expiry_date_edit" placeholder="YYYY/MM/DD">

            <input type="submit" value="SAVE">
        </form>
    </div>

    <div id="remove-discount-code" class="remove-form-tab tab-pane fade">
        <%_ if (discount_codes.length) { _%>
        <form action="/admin/discount_code/remove" method="post">
            <label>DELETE DISCOUNT CODE(S)</label><br><br>
            <%_ discount_codes.forEach((dc, i) => { _%>
            <div class="input-checkbox">
                <input type="checkbox" name="dc<%= i %>" value="<%= dc._id %>"><span><%= dc.code %></span><br>
            </div>
            <%_ }) _%>
            <br>
            <input type="submit" value="DELETE DISCOUNT CODES">
        </form>
        <%_ } else { _%>
        <p class="no-removable-items-label"><b>NO DISCOUNT CODES TO REMOVE</b></p>
        <%_ } _%>
    </div>

    <div id="discount-code-list" class="list-tab tab-pane fade">
        <%_ if (!discount_codes.length) { _%>
        <p class="no-removable-items-label"><b>NO DISCOUNT CODES TO LIST</b></p>
        <%_ } else { _%>
        <div style="margin: 1em 0 2em;">
            <i class="fal fa-info-circle"></i>
            <span>Click a discount code to view the orders they were used for</span>
        </div>
        <div class='table-responsive'>
            <table id="discount-codes-table" class="table table-borderless table-hover">
                <thead>
                    <tr>
                        <th>CODE</th>
                        <th>PERCENTAGE</th>
                        <th>USED COUNT</th>
                        <th>EXPIRY DATE</th>
                    </tr>
                </thead>
                <tbody>
                    <%_ discount_codes.forEach((dc, i) => { _%>
                    <tr>
                        <th scope="row"><a href="/shop/orders?discount_code=<%= dc.code %>"><%= dc.code %></a></th>
                        <td id="percentage-<%= i %>"><%= dc.percentage %>%</td>
                        <td id="used-code-<%= i %>"><%= dc.orders_applied.length %></td>
                        <td id="expiry-date-<%= i %>"><%= dc.expiry_date.toLocaleDateString() %></td>
                    </tr>
                    <%_ }) _%>
                </tbody>
            </table>
        </div>
        <%_ } _%>
    </div>
</div>