<div class="col-md-3 sidebar" id="edit-sidebar">
    <div class="mb-view-md section-dropdown-options">
        <label>SELECT OPTION <i class="dropdown-arrow fal fa-chevron-down"></i></label>
        <select>
            <option value="#edit-banner">BANNER SLIDE</option>
            <option value="#edit-product">PRODUCT</option>
            <option value="#edit-discount-code">DISCOUNT CODE</option>
            <option value="#edit-faq">FAQ</option>
        </select>
    </div>
    <ul class="nav nav-pills nav-stacked dt-view-md">
        <li class="active"><a data-toggle="pill" href="#edit-banner">BANNER SLIDE</a></li>
        <li><a data-toggle="pill" href="#edit-product">PRODUCTS</a></li>
        <li><a data-toggle="pill" href="#edit-discount-code">DISCOUNT CODE</a></li>
        <li><a data-toggle="pill" href="#edit-faq">FAQ</a></li>
    </ul>
</div>
<div class="col-md-9">
    <div class="tab-content" style="padding-top: 10px;">

        <div id="edit-banner" class="tab-pane fade in active">
            <form method="post" action="/site/content/banner/edit">
                <label>SELECT BANNER SLIDE <i class="dropdown-arrow fal fa-chevron-down"></i></label>
                <select name="id" id="banner_slide_id">
                    <option value="">-</option>
                    <%_ banner_slides.forEach(slide => { _%>
                    <option value="<%= slide._id %>"><%= slide.text %></option>
                    <%_ }) _%>
                </select>
                <label>TEXT</label>
                <input type="text" name="text" id="banner_text_edit" required>

                <input type="submit" value="SAVE">
            </form>
        </div>

        <div id="edit-product" class="tab-pane fade">
            <form method="post" action="/product/stock/edit">
                <label>SELECT PRODUCT <i class="dropdown-arrow fal fa-chevron-down"></i></label>
                <select name="id" id="product_id">
                    <option value="">-</option>
                    <%_ products.forEach(item => { _%>
                    <option value="<%= item._id %>"><%= item.name %></option>
                    <%_ }) _%>
                </select>

                <label>PRODUCT NAME</label>
                <input type="text" name="name" id="product_name_edit" required>

                <fieldset>
                    <div class="row">
                        <div class="col-sm-6">
                            <label>PRICE (£)</label>
                            <input type="number" name="price" id="price_edit" min="0.01" step="0.01" required>
                        </div>
                        <div class="col-sm-6">
                            <label>PRICE ON SALE (£)</label>
                            <input type="number" name="price_sale" id="price_sale_edit" min="0.01" step="0.01" required>
                        </div>
                    </div>
                </fieldset>

                <label>TOTAL IN STOCK</label>
                <input type="number" name="stock_qty" id="stock_qty_edit" min="1" value="1" required>

                <label>PRODUCT TYPE <i class="dropdown-arrow fal fa-chevron-down"></i></label></label>
                <select name="category" id="product_category_edit" required>
                    <option value="">Select category</option>
                    <option value="lashes">Lashes</option>
                    <option value="palettes">Palette</option>
                </select>

                <label>COLLECTION <span>(OPTIONAL)</span><i class="dropdown-arrow fal fa-chevron-down"></i></label></label>
                <select name="product_collection" id="product_collection_edit">
                    <option value="">Select collection</option>
                    <option value="original">Original</option>
                    <option value="honey_drip">Honey Drip</option>
                    <option value="emerald">Emerald</option>
                </select>

                <label>PRODUCT INFO <span>(OPTIONAL)</span></label>
                <textarea name="info" id="product_info_edit" rows="10"></textarea>

                <input type="submit" value="SAVE">
            </form>
        </div>

        <div id="edit-discount-code" class="tab-pane fade">
            <form method="post" action="/admin/discount_code/edit">
                <label>SELECT DISCOUNT CODE <i class="dropdown-arrow fal fa-chevron-down"></i></label>
                <select name="id" id="discount_code_id">
                    <option value="">-</option>
                    <%_ discount_codes.forEach(slide => { _%>
                    <option value="<%= slide._id %>"><%= slide.text %></option>
                    <%_ }) _%>
                </select>

                <label>DISCOUNT CODE</label>
                <input type="text" name="code" id="discount_code_value_edit" required>

                <label>DISCOUNT PERCENTAGE (%)</label>
                <input type="number" name="percentage" id="discount_percentage_edit" min="1" max="100" value="10" required>

                <label>EXPIRY DATE</label>
                <input type="date" name="expiry_date" id="discount_code_expiry_date_edit" placeholder="YYYY/MM/DD" required>

                <input type="submit" value="SAVE">
            </form>
        </div>

        <div id="edit-faq" class="tab-pane fade">
            <form method="post" action="/admin/faqs/edit">
                <label>SELECT FAQ <i class="dropdown-arrow fal fa-chevron-down"></i></label>
                <select name="id" id="faq_id">
                    <option value="">-</option>
                    <%_ faqs.forEach(faq => { _%>
                    <option value="<%= faq._id %>"><%= faq.question %></option>
                    <%_ }) _%>
                </select>

                <label>QUESTION</label>
                <input type="text" name="question" id="question_edit" required>

                <label>ANSWER</label>
                <textarea name="answer" id="answer_edit" rows="10" required></textarea>

                <input type="submit" value="SAVE">
            </form>
        </div>

    </div>
</div>
