<ul class="nav nav-pills">
    <li class="active"><a data-toggle="pill" href="#new-event">NEW</a></li>
    <li><a data-toggle="pill" href="#edit-event">EDIT</a></li>
    <li><a data-toggle="pill" href="#remove-event">REMOVE</a></li>
</ul>

<div class="tab-content" style="padding-top: 10px;">

    <div id="new-event" class="new-form-tab tab-pane fade in active">
        <form method="post" action="/events/post">
            <label>EVENT TITLE</label>
            <input type="text" name="title" id="event-title" required>

            <label>DATE OF EVENT</label>
            <input type="date" name="date" id="event-date" required>

            <label>EVENT INFO</label>
            <textarea name="info" id="event-info" rows="5"></textarea>

            <label>TICKET LINK</label>
            <input type="text" name="link" id="event-link">

            <input type="submit" value="POST">
        </form>
    </div>

    <div id="edit-event" class="edit-form-tab tab-pane fade">
        <form method="post" action="/events/edit">
            <label>SELECT EVENT <i class="dropdown-arrow fal fa-chevron-down"></i></label>
            <select name="id" id="event_id">
                <option value="">-</option>
                <%_ events.forEach(e => { _%>
                <option value="<%= e._id %>"><%= e.title %></option>
                <%_ }) _%>
            </select>

            <label>EVENT TITLE</label>
            <input type="text" name="title" id="event-title-edit">

            <label>DATE OF EVENT</label>
            <input type="date" name="date" id="event-date-edit">

            <label>EVENT INFO</label>
            <textarea name="info" id="event-info-edit" rows="5"></textarea>

            <label>TICKET LINK</label>
            <input type="text" name="link" id="event-link-edit">

            <input type="submit" value="SAVE">
        </form>
    </div>

    <div id="remove-event" class="remove-form-tab tab-pane fade">
        <%_ if (events.length) { _%>
        <form action="/events/remove" method="post">
            <label>DELETE EVENT(S)</label><br><br>
            <%_ events.forEach((e, i) => { _%>
            <div class="input-checkbox">
                <input type="checkbox" name="e<%= i %>" value="<%= e._id %>"><span><%= e.title %></span>
            </div>
            <%_ }) _%>
            <br>
            <input type="submit" value="DELETE EVENTS">
        </form>
        <%_ } else { _%>
        <p class="no-removable-items-label"><b>NO EVENTS TO REMOVE</b></p>
        <%_ } _%>
    </div>
</div>
