<ul class="nav nav-pills">
    <li class="active"><a data-toggle="pill" href="#new-event">NEW</a></li>
    <li><a data-toggle="pill" href="#edit-event">EDIT</a></li>
    <li><a data-toggle="pill" href="#remove-event">REMOVE</a></li>
</ul>

<div class="tab-content" style="padding-top: 10px;">

    <div id="new-event" class="new-form-tab tab-pane fade in active">
        <form method="post" action="/events/post">
            <label>EVENT TITLE</label>
            <input type="text" name="title" id="event-title" required>

            <label>DATE OF EVENT</label>
            <input type="date" name="date" id="event-date" required>

            <label>EVENT INFO</label>
            <textarea name="info" id="event-info" rows="5"></textarea>

            <label>TICKET PRICE (£)</label>
            <input type="number" name="price" id="event-price" min="0.01" step="0.01" required>

            <label>STOCK QUANTITY</label>
            <input type="number" name="stock_qty" id="event-stock-qty" min="0" required>

            <label>POSTER / FLYER</label>
            <fieldset class="file-upload-container">
                <div class="row">
                    <div class="col-sm-6 col-xs-9"><input type="file" id="event-image-file" accept=".jpg,.jpeg,.png,.bmp" data-fieldname="image_file"></div>
                    <input type="hidden" name="image_file">
                    <div class="col-sm-6 col-xs-3"><button type="button" class="clear-uploads" data-id="event-image-file">CLEAR</button></div>
                </div>
                <div class="row">
                    <div class="col-sm-12"><input type="url" name="image_url" id="event-image-url" placeholder="Or enter the image URL"></div>
                </div>
            </fieldset>

            <input type="submit" value="POST">
        </form>
    </div>

    <div id="edit-event" class="edit-form-tab tab-pane fade">
        <form method="post" action="/events/edit">
            <label>SELECT EVENT <i class="dropdown-arrow fal fa-chevron-down"></i></label>
            <select name="id" id="event_id">
                <option value="">-</option>
                <%_ events.forEach(e => { _%>
                <option value="<%= e._id %>"><%= e.title %></option>
                <%_ }) _%>
            </select>

            <label>EVENT TITLE</label>
            <input type="text" name="title" id="event-title-edit">

            <label>DATE OF EVENT</label>
            <input type="date" name="date" id="event-date-edit">

            <label>EVENT INFO</label>
            <textarea name="info" id="event-info-edit" rows="5"></textarea>

            <label>TICKET PRICE (£)</label>
            <input type="number" name="price" id="event-price-edit" min="0.01" step="0.01">

            <label>STOCK QUANTITY</label>
            <input type="number" name="stock_qty" id="event-stock-qty-edit" min="0">

            <label>POSTER / FLYER</label>
            <fieldset class="file-upload-container">
                <div class="row">
                    <div class="col-sm-6 col-xs-9"><input type="file" id="event-image-file-edit" accept=".jpg,.jpeg,.png,.bmp" data-fieldname="image_file"></div>
                    <input type="hidden" name="image_file">
                    <div class="col-sm-6 col-xs-3"><button type="button" class="clear-uploads" data-id="event-image-file-edit">CLEAR</button></div>
                </div>
                <div class="row">
                    <div class="col-sm-12"><input type="url" name="image_url" id="event-image-url-edit" placeholder="Or enter the image URL"></div>
                </div>
            </fieldset>

            <input type="submit" value="UPDATE">
        </form>
    </div>

    <div id="remove-event" class="remove-form-tab tab-pane fade">
        <%_ if (events.length) { _%>
        <form action="/events/remove" method="post">
            <label>DELETE EVENT(S)</label><br><br>
            <%_ events.forEach((e, i) => { _%>
            <div class="input-checkbox">
                <input type="checkbox" name="e<%= i %>" value="<%= e._id %>"><span><%= e.title %></span>
            </div>
            <%_ }) _%>
            <br>
            <input type="submit" value="DELETE EVENTS">
        </form>
        <%_ } else { _%>
        <p class="no-removable-items-label"><b>NO EVENTS TO REMOVE</b></p>
        <%_ } _%>
    </div>
</div>
