<div class="nav nav-pills justify-content-center">
    <a class="nav-link active" data-toggle="pill" href="#new-event">NEW</a>
    <a class="nav-link" data-toggle="pill" href="#edit-event">EDIT</a>
    <a class="nav-link" data-toggle="pill" href="#remove-event">REMOVE</a>
</div>

<div class="tab-content" style="padding-top: 10px;">

    <div id="new-event" class="new-form-tab tab-pane fade show active">
        <form method="post" action="/events/post">
            <label>EVENT TITLE</label>
            <input type="text" name="title" id="event-title" required>

            <label>EVENT DATE & TIME <span class="margin">(24-HOUR FORMAT)</span></label>
            <fieldset>
                <%_
                    var event_date = new Date();
                    var offset = event_date.getTimezoneOffset();
                    event_date = new Date(event_date.getTime() - (offset * 60 * 1000));
                    event_date = event_date.toISOString().split('T')[0];
                _%>
                <div class="input-group">
                    <input class="form-control" type="date" id="event-date" name="date" value="<%= event_date %>" style="flex: 0 0 60%" required>
                    <input class="form-control" type="number" id="event-hour" name="hour" value="23" min="0" max="23" required>
                    <div class="input-group-append">
                        <span class="input-group-text"><b>:</b></span>
                    </div>
                    <input class="form-control" type="number" id="event-minute" name="minute" value="59" min="0" max="59" required>
                </div>
                <br>
                <input type="checkbox" name="ttbc" id="event-time-tbc" style="margin-left: 5px" value="true">
                <label for="event-time-tbc">Time to be confirmed?</label>
                <br><br>
            </fieldset>

            <label>EVENT INFO</label>
            <textarea name="info" id="event-info" rows="5"></textarea>

            <label>TICKET PRICE (£)</label>
            <input type="number" name="price" id="event-price" min="0.01" step="0.01" required>

            <label>STOCK QUANTITY</label>
            <input type="number" name="stock_qty" id="event-stock-qty" min="0" value="1" required>

            <label>POSTER / FLYER</label>
            <fieldset class="file-upload-container">
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="event-image-file" accept="image/*" data-fieldname="image_file">
                        <label class="custom-file-label">Upload poster / flyer</label>
                    </div>
                    <input type="hidden" name="image_file">
                    <div class="input-group-append">
                        <button class="clear-uploads btn" type="button" data-id="event-image-file">CLEAR</button>
                    </div>
                </div>
                <input type="url" name="image_url" id="event-image-url" placeholder="Or enter the image URL">
            </fieldset>

            <input type="submit" value="POST">
        </form>
    </div>

    <div id="edit-event" class="edit-form-tab tab-pane fade">
        <form method="post" action="/events/edit">
            <label>SELECT EVENT <i class="dropdown-arrow fal fa-chevron-down"></i></label>
            <select name="id" id="event_id">
                <option value="">-</option>
                <%_ events.forEach(e => { _%>
                <option value="<%= e._id %>"><%= e.title %></option>
                <%_ }) _%>
            </select>

            <label>EVENT TITLE</label>
            <input type="text" name="title" id="event-title-edit">

            <label>EVENT DATE & TIME <span class="margin">(24-HOUR FORMAT)</span></label>
            <fieldset>
                <div class="input-group">
                    <input class="form-control" type="date" id="event-date-edit" name="date" value="<%= event_date %>" style="flex: 0 0 60%" required>
                    <input class="form-control" type="number" id="event-hour-edit" name="hour" value="23" min="0" max="23" required>
                    <div class="input-group-append">
                        <span class="input-group-text"><b>:</b></span>
                    </div>
                    <input class="form-control" type="number" id="event-minute-edit" name="minute" value="59" min="0" max="59" required>
                </div>
                <br>
                <input type="checkbox" name="ttbc" id="event-time-tbc-edit" style="margin-left: 5px" value="true">
                <label for="event-time-tbc-edit">Time to be confirmed?</label>
                <br><br>
            </fieldset>

            <label>EVENT INFO</label>
            <textarea name="info" id="event-info-edit" rows="5"></textarea>

            <label>TICKET PRICE (£)</label>
            <input type="number" name="price" id="event-price-edit" min="0.01" step="0.01">

            <label>STOCK QUANTITY</label>
            <input type="number" name="stock_qty" id="event-stock-qty-edit" min="0" value="1">

            <label>POSTER / FLYER</label>
            <fieldset class="file-upload-container">
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="event-image-file-edit" accept="image/*" data-fieldname="image_file">
                        <label class="custom-file-label">Upload poster / flyer</label>
                    </div>
                    <input type="hidden" name="image_file">
                    <div class="input-group-append">
                        <button class="clear-uploads btn" type="button" data-id="event-image-file-edit">CLEAR</button>
                    </div>
                </div>
                <input type="url" name="image_url" id="event-image-url-edit" placeholder="Or enter the image URL">
            </fieldset>

            <input type="submit" value="UPDATE">
        </form>
    </div>

    <div id="remove-event" class="remove-form-tab tab-pane fade">
        <%_ if (events.length) { _%>
        <form action="/events/remove" method="post">
            <label>DELETE EVENT(S)</label>
            <%_ events.forEach((e, i) => { _%>
            <div class="input-checkbox">
                <input type="checkbox" name="e<%= i %>" value="<%= e._id %>"><span><%= e.title %></span>
            </div>
            <%_ }) _%>
            <br>
            <input type="submit" value="DELETE EVENTS">
        </form>
        <%_ } else { _%>
        <p class="no-removable-items-label"><b>NO EVENTS TO REMOVE</b></p>
        <%_ } _%>
    </div>
</div>

<script>
    $("input[name=ttbc]").change(function() { $(this).parent().find("input[type=number]").attr("disabled", this.checked) })
</script>
