<div class="nav nav-pills justify-content-center">
    <a class="nav-link active" data-toggle="pill" href="#new-highlights-post">NEW</a>
    <a class="nav-link" data-toggle="pill" href="#edit-highlights-post">EDIT</a>
    <a class="nav-link" data-toggle="pill" href="#remove-highlights-post">REMOVE</a>
</div>

<div class="tab-content" style="padding-top: 10px;">
    <div id="new-highlights-post" class="new-form-tab tab-pane fade show active">
        <form method="post" action="/highlights-post/add">
            <label>TITLE / HEADLINE</label>
            <input type="text" name="title" id="highlights_post_title" required>

            <label>TEXT BODY</label>
            <textarea name="text_body" id="highlights_post_text_body" rows="10" required></textarea>

            <label>LINK URL <span>(OPTIONAL)</span></label>
            <input type="url" name="link" id="highlights_post_link" value="<%= location_origin %>/">

            <label>MAIN IMAGE</label>
            <fieldset class="file-upload-container">
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="media_lg_file" accept="image/*" data-fieldname="media_lg_file">
                        <label class="custom-file-label">Upload image</label>
                    </div>
                    <input type="hidden" name="media_lg_file">
                    <div class="input-group-append">
                        <button class="clear-uploads" type="button" data-id="media_lg_file">CLEAR</button>
                    </div>
                </div>
                <input type="url" name="media_lg_url" id="media_lg_url" placeholder="Or enter the image URL">
            </fieldset>

            <label>SECOND IMAGE / VIDEO</label>
            <fieldset class="file-upload-container">
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="media_sm_file" accept="image/*,video/*" data-fieldname="media_sm_file">
                        <label class="custom-file-label">Upload image / video file</label>
                    </div>
                    <input type="hidden" name="media_sm_file">
                    <div class="input-group-append">
                        <button class="clear-uploads" type="button" data-id="media_sm_file">CLEAR</button>
                    </div>
                </div>
                <input type="url" name="media_sm_url" id="media_sm_url" placeholder="Or enter the image / video URL">
            </fieldset>

            <input type="submit" value="SAVE">
        </form>
    </div>

    <div id="edit-highlights-post" class="edit-form-tab tab-pane fade">
        <form method="post" action="/highlights-post/edit">
            <label>SELECT HIGHLIGHTS SLIDE <i class="dropdown-arrow fal fa-chevron-down"></i></label>
            <select name="id" id="highlights_post_id">
                <option value="">-</option>
                <%_ highlights_posts.forEach(item => { _%>
                <option value="<%= item._id %>"><%= item.title %></option>
                <%_ }) _%>
            </select>

            <div class="img-preview-container">
                <div class="row">
                    <div class="col-6 float-left img-preview"></div>
                    <div class="col-6 float-left img-preview"></div>
                </div>
            </div>

            <label>TITLE / HEADLINE</label>
            <input type="text" name="title" id="highlights_post_title_edit">

            <label>TEXT BODY</label>
            <textarea name="text_body" id="highlights_post_text_body_edit" rows="10"></textarea>

            <label>LINK URL <span>(OPTIONAL)</span></label>
            <input type="url" name="link" id="highlights_post_link_edit">

            <label>MAIN IMAGE</label>
            <fieldset class="file-upload-container">
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="media_lg_file_edit" accept="image/*" data-fieldname="media_lg_file">
                        <label class="custom-file-label">Upload image</label>
                    </div>
                    <input type="hidden" name="media_lg_file">
                    <div class="input-group-append">
                        <button class="clear-uploads" type="button" data-id="media_lg_file_edit">CLEAR</button>
                    </div>
                </div>
                <input type="url" name="media_lg_url" id="media_lg_url_edit" placeholder="Or enter the image URL">
            </fieldset>

            <label>SECOND IMAGE / VIDEO</label>
            <fieldset class="file-upload-container">
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="media_sm_file_edit" accept="image/*,video/*" data-fieldname="media_sm_file">
                        <label class="custom-file-label">Upload image / video file</label>
                    </div>
                    <input type="hidden" name="media_sm_file">
                    <div class="input-group-append">
                        <button class="clear-uploads" type="button" data-id="media_sm_file_edit">CLEAR</button>
                    </div>
                </div>
                <input type="url" name="media_sm_url" id="media_sm_url_edit" placeholder="Or enter the image / video URL">
            </fieldset>

            <input type="submit" value="UPDATE">
        </form>
    </div>

    <div id="remove-highlights-post" class="remove-form-tab tab-pane fade">
        <%_ if (highlights_posts.length) { _%>
        <form action="/highlights-post/remove" method="post">
            <label>DELETE HIGHLIGHTS POSTS(S)</label>
            <%_ highlights_posts.forEach((item, i) => { _%>
            <div class="input-checkbox">
                <input type="checkbox" name="post<%= i %>" value="<%= item._id %>"> <span><%= item.title %></span>
            </div>
            <%_ }) _%>
            <br>
            <input type="submit" value="DELETE POSTS">
        </form>
        <%_ } else { _%>
        <p class="no-removable-items-label"><b>NO HIGHLIGHTS POSTS TO REMOVE</b></p>
        <%_ } _%>
    </div>
</div>
