<ul class="nav nav-pills">
    <li class="active"><a data-toggle="pill" href="#ambassadors">AMBASSADORS</a></li>
    <li><a data-toggle="pill" href="#orders">ORDERS</a></li>
    <li><a data-toggle="pill" href="#amb-sales-report">SALES REPORT</a></li>
</ul>

<div class="tab-content" style="padding-top: 2em">
    <div id="ambassadors" class="tab-pane fade in active">
        <div class="info-label" style="text-align: center">
            <i class="fal fa-info-circle info-icon"></i>
            <b>Click a name to go to their account page</b>
        </div>
        <div class="admin-list">
            <%_ ambassadors.forEach(amb => { _%>
            <div class="row">
                <div class="col-sm-9 col-xs-6 item">
                    <%_ var link = `/admin/ambassador/account?firstname=${amb.firstname}&lastname=${amb.lastname}`; _%>
                    <a href="<%- link %>"><%- `${amb.firstname} ${amb.lastname}` %></a>
                </div>
                <div class="col-sm-3 col-xs-6 options">
                    <%_ if (amb.verified === false) { _%>
                    <form class="verify-ambassador-form minimal" method="post" action="/ambassador/register/verify" style="display: inline-block; margin: 5px 5px 5px 0">
                        <input type="hidden" name="token" value="<%- amb.token %>">
                        <button type="submit" style="padding: 6px 10px">Verify</button>
                    </form>
                    <%_ } _%>
                    <form class="delete-ambassador-form minimal" method="post" action="/ambassador/delete" style="display: inline-block; margin: 5px 0">
                        <input type="hidden" name="id" value="<%- amb._id %>">
                        <button type="submit" style="padding: 6px 10px">Delete</button>
                    </form>
                </div>
            </div>
            <%_ }) _%>
        </div>
    </div>

    <div id="orders" class="tab-pane fade">
        <div class="info-label" style="text-align: center">
            <i class="fal fa-info-circle info-icon"></i>
            <b>Labelled by customer name</b>
        </div>
        <div class="admin-list">
            <%_ orders.forEach(order => { _%>
            <div class="row">
                <div class="col-<%= order.tracking_ref ? 'xs' : 'sm' %>-6 item"><%- `${order.customer_name}` %></div>
                <div class="col-<%= order.tracking_ref ? 'xs' : 'sm' %>-6 options">
                    <a href="/order/<%- order.id %>"><button type="button">View details</button></a>
                    <%_ if (!order.tracking_ref) {
                        const event_tkt_present = order.cart.find(item => /^\'(.*?)\' event ticket$/i.test(item.name)); _%>
                    <a<%- !event_tkt_present ? ` href="/shipping/tracking/ref/send?id=${order.id}"` : '' %>>
                        <button type="button"<%- event_tkt_present ? ' disabled' : '' %>>
                            <%= event_tkt_present ? "Event Ticket Purchase" : "Add Tracking Number" %>
                        </button>
                    </a>
                    <%_ } _%>
                </div>
            </div>
            <%_ }) _%>
        </div>
    </div>
    
    <div id="amb-sales-report" class="tab-pane fade">
        <form id="report-submit-form" action="/report/submit">
            <fieldset>
                <legend>AMBASSADOR SALES REPORT</legend>
                <div class="row">
                    <div class="col-xs-6">
                        <label>MONTH <i class="dropdown-arrow fal fa-chevron-down"></i></label>
                        <select name="month">
                            <%_ const months = [ "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" ];
                                months.forEach((m, i) => { _%>
                            <option value="<%= i %>"<%- i === new Date().getMonth() ? ' selected' : '' %>><%= m %></option>
                            <%_ }) _%>
                        </select>
                    </div>
                    <div class="col-xs-6">
                        <label>YEAR <i class="dropdown-arrow fal fa-chevron-down"></i></label>
                        <select name="year">
                            <%_ const current_year = new Date().getFullYear();
                                const years = [current_year];
                                for (let y = current_year-1; y >= 2020; y--) years.push(y);
                                years.forEach(y => { _%>
                            <option value="<%= y %>"><%= y %></option>
                            <%_ }) _%>
                        </select>
                    </div>
                </div>
            </fieldset>
            <button type="submit">SEND</button>
        </form>
    </div>

</div>
