<div class="nav nav-pills justify-content-center">
    <a class="nav-link active" data-toggle="pill" href="#new-lookbook-img">NEW IMAGE</a>
    <a class="nav-link" data-toggle="pill" href="#new-tutorial-video">NEW TUTORIAL VIDEO</a>
    <a class="nav-link" data-toggle="pill" href="#reorder-lookbook-media">REORDER</a>
    <a class="nav-link" data-toggle="pill" href="#remove-lookbook-media">REMOVE</a>
</div>

<div class="tab-content" style="padding-top: 10px;">
    <div id="new-lookbook-img" class="new-form-tab tab-pane fade show active">
        <form method="post" class="container-fluid" action="/lookbook/gallery/add" style="padding: 30px">
            <%_ var suffix = Date.now(); _%>
            <label>UPLOAD LOOKBOOK IMAGE</label>
            <fieldset class="file-upload-container">
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="lookbook_media_file_<%- suffix %>" accept="image/*" data-fieldname="image_file" multiple>
                        <label class="custom-file-label">Upload image files</label>
                    </div>
                    <input type="hidden" name="image_file">
                    <div class="input-group-append">
                        <button class="clear-uploads btn" type="button" data-id="lookbook_media_file_<%- suffix %>">CLEAR</button>
                    </div>
                </div>
                <input type="url" name="image_url" id="lookbook_media_url_<%- suffix %>" placeholder="Or enter the image URL">
                <div class="row">
                    <div class="col-sm-12 float-left add-remove-control" style="text-align: right">
                        <button type="button" class="add" data-prefix="lookbook_media_file_">ADD</button>
                        <button type="button" class="remove">REMOVE</button>
                    </div>
                </div>
            </fieldset>

            <input type="submit" value="UPLOAD">
        </form>
    </div>

    <div id="new-tutorial-video" class="new-form-tab tab-pane fade">
        <form method="post" class="container-fluid" action="/lookbook/tutorial/add" style="padding: 30px">
            <%_ var suffix = Date.now()+1; _%>
            <label>UPLOAD TUTORIAL VIDEO</label>
            <fieldset class="file-upload-container">
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="lookbook_media_file_<%- suffix %>" accept="video/*" data-fieldname="video_file" multiple>
                        <label class="custom-file-label">Upload video files</label>
                    </div>
                    <input type="hidden" name="video_file">
                    <div class="input-group-append">
                        <button class="clear-uploads btn" type="button" data-id="lookbook_media_file_<%- suffix %>">CLEAR</button>
                    </div>
                </div>
                <input type="url" name="video_url" id="lookbook_media_url_<%- suffix %>" placeholder="Or enter the video URL">
                <div class="row">
                    <div class="col-sm-12 float-left add-remove-control" style="text-align: right">
                        <button type="button" class="add" data-prefix="lookbook_media_file_">ADD</button>
                        <button type="button" class="remove">REMOVE</button>
                    </div>
                </div>
            </fieldset>

            <input type="submit" value="UPLOAD">
        </form>
    </div>

    <div id="reorder-lookbook-media" class="tab-pane media-mgmt-pane fade">
        <%_ if (lookbook_media.length) { _%>
        <form action="/lookbook/reorder" method="post">
            <label>REORDER IMAGES / VIDEOS <span>- Edit the position number of one or more images to reorder</span></label>
            <div class="row">
                <%_ lookbook_media.forEach((img, i, arr) => { _%>
                <div class="col-sm-6 float-left img-wrapper">
                    <div class="img" style="background-image: url('<%= img.url %>')">
                        <input type="hidden" name="id" value="<%= img._id %>">
                        <input type="number" min="1" max="<%= arr.length %>" value="<%= i+1 %>">
                    </div>
                </div>
                <%_ }) _%>
            </div>
            <br>
            <input type="submit" value="REORDER">
        </form>
        <%_ } else { _%>
        <p class="no-removable-items-label"><b>NO IMAGES TO REORDER</b></p>
        <%_ } _%>
    </div>

    <div id="remove-lookbook-media" class="remove-form-tab media-mgmt-pane tab-pane fade">
        <%_ if (lookbook_media.length) { _%>
        <form action="/lookbook/remove" method="post">
            <label>DELETE IMAGES / VIDEOS <span>- Tick one or more images to delete</span></label>
            <div class="row">
                <%_ lookbook_media.forEach((img, i, arr) => {
                    const style = img.media_type === "image" ? `background-image: url('${img.url}')` : ""; _%>
                <div class="col-sm-6 float-left img-wrapper">
                    <div class="img" style="<%- style %>">
                        <%_ if (img.media_type === "video") { _%>
                        <video playsinline autoplay muted loop><source src="<%= img.url %>"></video>
                        <%_ } _%>
                        <input type="checkbox" name="id" value="<%= img._id %>">
                    </div>
                </div>
                <%_ }) _%>
            </div>
            <br>
            <input type="submit" value="REMOVE">
        </form>
        <%_ } else { _%>
        <p class="no-removable-items-label"><b>NO IMAGES / VIDEOS TO REMOVE</b></p>
        <%_ } _%>
    </div>
</div>

<script>
    var timeout;
    $("#reorder-lookbook-media form .img input[type=number]").on("input", function() {
        var num = parseInt(this.value.trim());
        var $form = $(this).closest("form");
        if (isNaN(num) || num < 1 || num > $form.find(".img").length) return false;
        var $img = $(this).closest(".img");
        var $wrapper = $img.closest(".img-wrapper");
        var method = num - 1 <= $form.find(".img").index($img) ? "insertBefore" : "insertAfter";
        if (!timeout) timeout = setTimeout(function() {
            $wrapper.clone(true).hide()[method]($form.find(".img-wrapper").eq(num - 1)).show(400).end().end().hide(200, function() { $(this).remove() });
            $form.find(".img").not($img).each(function(i) { $(this).find("input[type=number]").val(i+1) });
            timeout = null;
        }, 500);
    });
</script>
