<div class="nav nav-pills justify-content-center">
    <a class="nav-link active" data-toggle="pill" href="#mail-form-tab">COMPOSE EMAIL</a>
    <a class="nav-link" data-toggle="pill" href="#mail-sub-check">MAIL SUBSCRIBER CHECK</a>
</div>

<div class="tab-content">
    <div id="mail-form-tab" class="tab-pane fade show active">
        <form method="post" id="mail-form" action="/admin/mail/send">
            <fieldset>
                <legend>COMPOSE EMAIL</legend>

                <label>SEND TO:</label>
                <div class="row">
                    <%_ [{ label: "Email", value: "email" },
                        { label: "Everyone", value: "everyone" },
                        { label: "Ambassadors only", value: "ambassadors" }].forEach((e, i) => {
                            const gen_id = Math.round(Math.random() * 100000);
                            const checked = !i ? 'checked' : ''; _%>
                    <div class="col-sm-6 float-left">
                        <div class="input-group check-option">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="radio" id="<%= gen_id %>" name="bulk_send" value="<%= e.value %>" required <%- checked %>>
                                </div>
                            </div>
                            <label class="form-control" for="<%= gen_id %>"><%= e.label %></label>
                        </div>
                    </div>
                    <%_ }) _%>
                </div>
                <br>

                <fieldset id="email-fieldset">
                    <label>EMAIL <i class="dropdown-arrow fal fa-chevron-down"></i></label>
                    <select name="email" id="email">
                        <option value="">-</option>
                        <%_ recipients.forEach((r, i) => { _%>
                        <option value="<%= r.customer_email || r.email %>"><%= r.customer_name || r.firstname+" "+r.lastname %></option>
                        <%_ }) _%>
                    </select>

                    <input type="email" name="email2" id="email2" placeholder="Or enter email here manually">
                </fieldset>

                <label>SUBJECT</label>
                <input type="text" name="subject" id="subject" required>

                <label>MESSAGE</label>
                <textarea name="message" id="message" rows="10" required></textarea>

                <input type="submit" value="SEND">
            </fieldset>
        </form>
    </div>

    <div id="mail-sub-check" class="tab-pane fade show">
        <form method="post" id="mail-sub-check-form" action="/admin/mail/sub-toggle" class="search-scope">
            <fieldset>
                <legend>MAILING LIST SUBSCRIBER CHECK</legend>
                <div class="note">Edit the list below to include / exclude recipients from email updates (note: ambassadors will still recieve updates nonetheless when you send ambassadors-only emails).</div>

                <div class="input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text form-control"><i class="fal fa-search"></i></label>
                    </div>
                    <input class="form-control filter-search-input" type="search">
                </div>
                <br>

                <div class="row check-option-group">
                    <%_ recipients.forEach(r => {
                        const gen_id = Math.round(Math.random() * 100000); _%>
                    <div class="col-sm-6 float-left list-item">
                        <div class="input-group check-option">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox" id="<%= gen_id %>" name="email" value="<%= r.customer_email || r.email %>" <%- r.mail_sub ? "checked" : "" %>>
                                </div>
                            </div>
                            <label class="form-control search-option" for="<%= gen_id %>"><%= r.customer_name || r.firstname+" "+r.lastname %></label>
                        </div>
                    </div>
                    <%_ }) _%>
                </div>

                <input type="submit" value="UPDATE">
            </fieldset>
        </form>
    </div>
</div>
<script>
    $("#email").change(function() { $("#email2").val("") });
    $("#email2").keypress(function() { $("#email").val("") });

    $("form").submit(function(e) {
        e.preventDefault();
        var btnController = new submitBtnController(this);
        $.post(this.action, $("#mail-form").serializeArray(), function(result) {
            alert(result);
            e.target.reset();
        }).fail(function(err) {
            alert(err.responseText);
        }).always(function() {
            btnController.finish();
        });
    });

    $("#mail-sub-check-form").off("submit").submit(function(e) {
        e.preventDefault();
        var btnController = new submitBtnController(this);
        $.post(this.action, $(this).serializeArray(), function(result) {
            alert(result);
        }).fail(function(err) {
            alert(err.responseText);
        }).always(function() {
            btnController.finish();
        });
    });

    $("input[name=bulk_send]").change(function() {
        var $field = $("#email-fieldset").hide();
        this.value == "email" && $field.show();
    });
</script>