<div class="nav nav-pills justify-content-center">
    <a class="nav-link active" data-toggle="pill" href="#new-overview-img">UPLOAD</a>
    <a class="nav-link" data-toggle="pill" href="#edit-overview-img">EDIT</a>
    <a class="nav-link" data-toggle="pill" href="#reorder-overview-img">REORDER</a>
    <a class="nav-link" data-toggle="pill" href="#remove-overview-img">REMOVE</a>
</div>

<div class="tab-content" id="overview-image" style="padding-top: 10px;">
    <div id="new-overview-img" class="new-form-tab tab-pane fade show active">
        <form method="post" action="/site/content/overview-images/upload" style="padding: 30px">
            <label>UPLOAD HOMEPAGE IMAGE</label>
            <fieldset class="file-upload-container">
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="overview_image_file" accept="image/*" data-fieldname="image_file" multiple>
                        <label class="custom-file-label">Upload images</label>
                    </div>
                    <input type="hidden" name="image_file">
                    <div class="input-group-append">
                        <button class="clear-uploads btn" type="button" data-id="overview_image_file">CLEAR</button>
                    </div>
                </div>
                <input type="url" name="image_url" id="overview_image_url" placeholder="Or enter the image / video URL">
            </fieldset>
            <input type="submit" value="UPLOAD">
        </form>
    </div>

    <div id="edit-overview-img" class="edit-form-tab tab-pane fade">
        <form method="post" action="/site/content/overview-images/edit" style="padding: 30px">
            <label>SELECT IMAGE <i class="dropdown-arrow fal fa-chevron-down"></i></label>
            <select name="id" id="overview_image_id">
                <option value="">-</option>
                <%_ overview_images.forEach(img => { _%>
                <option value="<%= img._id %>">Image <%= img.position %></option>
                <%_ }) _%>
            </select>

            <div class="img-preview"></div>

            <label>UPLOAD HOMEPAGE IMAGE <span>(REPLACES CURRENT ONE)</span></label>
            <fieldset class="file-upload-container">
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="overview_image_file_edit" accept="image/*,video/*" data-fieldname="image_file">
                        <label class="custom-file-label">Upload image / video file</label>
                    </div>
                    <input type="hidden" name="image_file">
                    <div class="input-group-append">
                        <button class="clear-uploads btn" type="button" data-id="overview_image_file_edit">CLEAR</button>
                    </div>
                </div>
                <input type="url" name="image_url" id="overview_image_url_edit" placeholder="Or enter the image / video URL">
            </fieldset>
            <input type="submit" value="UPLOAD">
        </form>
    </div>

    <div id="reorder-overview-img" class="tab-pane media-mgmt-pane fade">
        <%_ if (overview_images.length) { _%>
        <form action="/site/content/overview-images/reorder" method="post">
            <label>REORDER IMAGES <span>- Edit the position number of one or more images to reorder</span></label>
            <div class="row">
                <%_ overview_images.forEach((img, i, arr) => { _%>
                <div class="col-sm-6 float-left img-wrapper">
                    <div class="img" style="background-image: url('<%= img.url %>')">
                        <input type="hidden" name="id" value="<%= img._id %>">
                        <input type="number" min="1" max="<%= arr.length %>" value="<%= i+1 %>">
                    </div>
                </div>
                <%_ }) _%>
            </div>
            <br>
            <input type="submit" value="REORDER">
        </form>
        <%_ } else { _%>
        <p class="no-removable-items-label"><b>NO IMAGES TO REORDER</b></p>
        <%_ } _%>
    </div>

    <div id="remove-overview-img" class="remove-form-tab media-mgmt-pane tab-pane fade">
        <%_ if (overview_images.length) { _%>
        <form action="/site/content/overview-images/remove" method="post">
            <label>DELETE IMAGES <span>- Tick one or more images to delete</span></label>
            <div class="row">
                <%_ overview_images.forEach((img, i) => {
                    const gen_id = Math.round(Math.random() * 100000); _%>
                <div class="col-sm-6 float-left img-wrapper">
                    <label class="img" for="<%= gen_id %>" style="background-image: url('<%= img.url %>')">
                        <input type="checkbox" id="<%= gen_id %>" name="id" value="<%= img._id %>">
                    </label>
                </div>
                <%_ }) _%>
            </div>
            <br>
            <input type="submit" value="REMOVE">
        </form>
        <%_ } else { _%>
        <p class="no-removable-items-label"><b>NO IMAGES TO REMOVE</b></p>
        <%_ } _%>
    </div>
</div>

<script>
    var timeout;
    $("#reorder-overview-img form .img input[type=number]").on("input", function() {
        var num = parseInt(($(this).val() || "").trim());
        if (!num || num < 1 || num > $("#reorder-overview-img form .img").length) return false;
        var $img = $(this).closest(".img");
        var $wrapper = $img.closest(".img-wrapper");
        var method = num - 1 <= $(".img").index($img) ? "insertBefore" : "insertAfter";
        if (!timeout) timeout = setTimeout(function() {
            $wrapper.clone(true).hide()[method]($("#reorder-overview-img form .img-wrapper").eq(num - 1)).show(400).end().end().hide(200, function() { $(this).remove() });
            $("#reorder-overview-img form .img").not($img).each(function(i) { $(this).find("input[type=number]").val(i+1) });
            timeout = null;
        }, 500);
    });
</script>
