<div class="nav nav-pills justify-content-center">
    <a class="nav-link active" data-toggle="pill" href="#new-product">NEW</a>
    <a class="nav-link" data-toggle="pill" href="#edit-product">EDIT</a>
    <a class="nav-link" data-toggle="pill" href="#remove-product">REMOVE</a>
    <a class="nav-link" data-toggle="pill" href="#product-list">LIST</a>
</div>

<div class="tab-content" style="padding-top: 10px;">
    <div id="new-product" class="new-form-tab tab-pane fade show active">
        <form method="post" action="/product/stock/add">
            <div class="input-checkbox" style="margin-bottom: 2em">
                <input type="checkbox" name="pre_release" id="pre_release" value="true"> <span>TO PRE-ORDER?</span>
            </div>

            <label>PRODUCT NAME</label>
            <input type="text" name="name" id="product_name" required>

            <fieldset>
                <div class="row">
                    <div class="col-sm-6 float-left">
                        <label>PRICE (£)</label>
                        <input type="number" name="price" id="price" min="0.01" step="0.01" required>
                    </div>
                    <div class="col-sm-6 float-left">
                        <label>AMBASSADORS' PRICE (£)</label>
                        <input type="number" name="price_amb" id="price_amb" min="0.01" step="0.01" required>
                    </div>
                </div>
            </fieldset>

            <label>TOTAL IN STOCK</label>
            <input type="number" name="stock_qty" id="stock_qty" min="0" value="1" required>

            <label>PRODUCT TYPE <i class="dropdown-arrow fal fa-chevron-down"></i></label></label>
            <select name="category" id="product_category" required>
                <option value="">Select category</option>
                <option value="new">Make new type</option>
                <%_ const categories = [...new Set(products.map(p => p.category))];
                    categories.forEach(c => { _%>
                <option value="<%= c %>"><%= c.charAt(0).toUpperCase() + c.slice(1) %></option>
                <%_ }) _%>
            </select>

            <div class="new-product-category">
                <label>NEW PRODUCT TYPE</label>
                <input type="text" name="category_new" id="product_category_new" disabled required>
            </div>

            <label>COLLECTION <span>(OPTIONAL)</span><i class="dropdown-arrow fal fa-chevron-down"></i></label></label>
            <select name="product_collection" id="product_collection">
                <option value="">Select collection</option>
                <option value="Original">Original</option>
                <option value="Honey Drip">Honey Drip</option>
                <option value="Emerald">Emerald</option>
            </select>

            <label>PRODUCT INFO <span>(OPTIONAL)</span></label>
            <textarea name="info" id="product_info" rows="10"></textarea>

            <label>PRODUCT IMAGE</label>
            <fieldset class="file-upload-container">
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="product_image_file" accept="image/*" data-fieldname="image_file">
                        <label class="custom-file-label">Upload image</label>
                    </div>
                    <input type="hidden" name="image_file">
                    <div class="input-group-append">
                        <button class="clear-uploads btn" type="button" data-id="product_image_file">CLEAR</button>
                    </div>
                </div>
                <input type="url" name="image_url" id="product_image_url" placeholder="Or enter the image URL">
            </fieldset>

            <input type="submit" value="SAVE">
        </form>
    </div>

    <div id="edit-product" class="edit-form-tab tab-pane fade">
        <form method="post" action="/product/stock/edit">
            <label>SELECT PRODUCT <i class="dropdown-arrow fal fa-chevron-down"></i></label>
            <select name="id" id="product_id">
                <option value="">-</option>
                <%_ products.forEach(item => { _%>
                <option value="<%= item._id %>"><%= item.name %></option>
                <%_ }) _%>
            </select>

            <div class="input-checkbox" style="margin-bottom: 2em">
                <input type="checkbox" name="pre_release" id="pre_release_edit" value="true"> <span>TO PRE-ORDER?</span>
            </div>

            <label>PRODUCT NAME</label>
            <input type="text" name="name" id="product_name_edit">

            <fieldset>
                <div class="row">
                    <div class="col-sm-6 float-left">
                        <label>PRICE (£)</label>
                        <input type="number" name="price" id="price_edit" min="0.01" step="0.01">
                    </div>
                    <div class="col-sm-6 float-left">
                        <label>AMBASSADORS' PRICE (£)</label>
                        <input type="number" name="price_amb" id="price_amb_edit" min="0.01" step="0.01">
                    </div>
                </div>
            </fieldset>

            <label>TOTAL IN STOCK</label>
            <input type="number" name="stock_qty" id="stock_qty_edit" min="0" value="1">

            <label>PRODUCT TYPE <i class="dropdown-arrow fal fa-chevron-down"></i></label></label>
            <select name="category" id="product_category_edit">
                <option value="">Select category</option>
                <option value="new">Make new type</option>
                <%_ categories.forEach(c => { _%>
                <option value="<%= c %>"><%= c.charAt(0).toUpperCase() + c.slice(1) %></option>
                <%_ }) _%>
            </select>

            <div class="new-product-category">
                <label>NEW PRODUCT TYPE</label>
                <input type="text" name="category_new" id="product_category_new_edit" disabled required>
            </div>

            <label>COLLECTION<i class="dropdown-arrow fal fa-chevron-down"></i></label></label>
            <select name="product_collection" id="product_collection_edit">
                <option value="">Select collection</option>
                <option value="Original">Original</option>
                <option value="Honey Drip">Honey Drip</option>
                <option value="Emerald">Emerald</option>
            </select>

            <label>PRODUCT INFO</label>
            <textarea name="info" id="product_info_edit" rows="10"></textarea>

            <label>PRODUCT IMAGE</label>
            <fieldset class="file-upload-container">
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="product_image_file_edit" accept="image/*" data-fieldname="image_file">
                        <label class="custom-file-label">Upload image</label>
                    </div>
                    <input type="hidden" name="image_file">
                    <div class="input-group-append">
                        <button class="clear-uploads btn" type="button" data-id="product_image_file_edit">CLEAR</button>
                    </div>
                </div>
                <input type="url" name="image_url" id="product_image_url_edit" placeholder="Or enter the image URL">
            </fieldset>

            <input type="submit" value="UPDATE">
        </form>
    </div>

    <div id="remove-product" class="remove-form-tab tab-pane fade">
        <%_ if (products.length) { _%>
        <form action="/product/stock/remove" method="post">
            <label>DELETE PRODUCT(S) FROM STOCK</label>
            <%_ products.forEach((item, i) => {
                var product_collection = item.product_collection.split("_").map(char => char.charAt(0).toUpperCase() + char.slice(1).replace(/_/g, " ")).join(" ");
                var category = item.category.split("_").map(char => char.charAt(0).toUpperCase() + char.slice(1).replace(/_/g, " ")).join(" ");
                var group = product_collection ? product_collection + " Collection" : category ? category : "Others"; _%>
            <%- (item.product_collection || item.category) !== (products[i-1]?.product_collection || products[i-1]?.category) ? '<div style="margin: .5em 0">'+group+'</div>' : '' %>
            <div class="input-checkbox">
                <input type="checkbox" name="product<%= i %>" value="<%= item._id %>"> <span><%= item.name %></span>
            </div>
            <%_ }) _%>
            <br>
            <input type="submit" value="DELETE PRODUCTS">
        </form>
        <%_ } else { _%>
        <p class="no-removable-items-label"><b>NO SHOP PRODUCTS TO REMOVE</b></p>
        <%_ } _%>
    </div>

    <div id="product-list" class="list-tab tab-pane fade">
        <%_ if (!products.length) { _%>
        <p class="no-removable-items-label"><b>NO SHOP PRODUCTS TO LIST</b></p>
        <%_ } else { _%>
        <div class='table-responsive'>
            <table id="products-table" class="table table-hover">
                <thead>
                    <tr>
                        <th>NAME</th>
                        <th>CATEGORY</th>
                        <th>COLLECTION</th>
                        <th>PRICE</th>
                        <th>AMBASSADOR PRICE</th>
                        <th>STOCK TOTAL</th>
                    </tr>
                </thead>
                <tbody>
                    <%_ products.forEach((p, i) => { _%>
                    <tr>
                        <th scope="row"><%= p.name %></th>
                        <td id="category-<%= i %>"><%= p.category %></td>
                        <td id="collection-<%= i %>"><%= p.product_collection %></td>
                        <td id="price-<%= i %>">£<%= (p.price / 100).toFixed(2) %></td>
                        <td id="price-amb-<%= i %>">£<%= (p.price_amb / 100).toFixed(2) %></td>
                        <td id="stock-qty-<%= i %>"><%= p.stock_qty %></td>
                    </tr>
                    <%_ }) _%>
                </tbody>
            </table>
        </div>
        <%_ } _%>
    </div>
</div>

<script>
    $("#product.tab-pane select").change(function() {
        var isNew = this.value === "new";
        var method = isNew ? "show" : "hide";
        $(this).closest("form").find(".new-product-category")[method]().find(":input").attr("disabled", !isNew);
    });

    $("nav a:link").get().forEach(function(e, i, a) {
        if (e.href.includes("/product/")) {
            var start = e.href.indexOf("/product/") + "/product/".length;
            var end = e.href.indexOf("/", start);
            var href = e.href.slice(start, end);
            var plural_suffix = /(ss|sh|ch|s|x|z)$/i.test(href) ? "es" : /y$/i.test(href) ? "ies" : "s";
            var href2 = (plural_suffix === "ies" ? href.replace(/y$/, "ies") : href + plural_suffix).replace(/eses$/i, "es");
            var $existing = $("#product_category option").filter(function(i, o) { return (o.value || "").includes(href) });
            var $clone = $("#product_category option:last").clone(true).prop("value", href2).text(href2.charAt(0).toUpperCase() + href2.slice(1));
            var condition = !$existing.length && href !== (a[i-1] || {}).href;
            if (condition) { $("#product_category").append($clone); $("#product_category_edit").append($clone.clone(true)) }
        }
    });
</script>
