<ul class="nav nav-pills">
    <li class="active"><a data-toggle="pill" href="#new-product">NEW</a></li>
    <li><a data-toggle="pill" href="#edit-product">EDIT</a></li>
    <li><a data-toggle="pill" href="#remove-product">REMOVE</a></li>
</ul>

<div class="tab-content" style="padding-top: 10px;">
    <div id="new-product" class="new-form-tab tab-pane fade in active">
        <form method="post" action="/product/stock/add">
            <label>PRODUCT NAME</label>
            <input type="text" name="name" id="product_name" required>

            <fieldset>
                <div class="row">
                    <div class="col-sm-6">
                        <label>PRICE (£)</label>
                        <input type="number" name="price" id="price" min="0.01" step="0.01" required>
                    </div>
                    <div class="col-sm-6">
                        <label>PRICE ON SALE (£)</label>
                        <input type="number" name="price_sale" id="price_sale" min="0.01" step="0.01" required>
                    </div>
                </div>
            </fieldset>

            <label>TOTAL IN STOCK</label>
            <input type="number" name="stock_qty" id="stock_qty" min="1" value="1" required>

            <label>PRODUCT TYPE <i class="dropdown-arrow fal fa-chevron-down"></i></label></label>
            <select name="category" id="product_category" required>
                <option value="">Select category</option>
                <option value="lashes">Lashes</option>
                <option value="palettes">Palette</option>
            </select>

            <label>COLLECTION <span>(OPTIONAL)</span><i class="dropdown-arrow fal fa-chevron-down"></i></label></label>
            <select name="product_collection" id="product_collection">
                <option value="">Select collection</option>
                <option value="original">Original</option>
                <option value="honey_drip">Honey Drip</option>
                <option value="emerald">Emerald</option>
            </select>

            <label>PRODUCT INFO <span>(OPTIONAL)</span></label>
            <textarea name="info" id="product_info" rows="10"></textarea>

            <label>PRODUCT IMAGE</label>
            <fieldset class="file-upload-container">
                <div class="row">
                    <div class="col-sm-6 col-xs-9"><input type="file" id="product_image_file" accept=".jpg,.jpeg,.png,.bmp"></div>
                    <input type="hidden" name="image_file">
                    <div class="col-sm-6 col-xs-3"><button type="button" class="clear-uploads" data-id="product-image-file">CLEAR</button></div>
                    <div class="col-sm-12"><input type="url" name="image_url" id="product_image_url" placeholder="Or enter the image URL"></div>
                </div>
            </fieldset>

            <input type="submit" value="SAVE">
        </form>
    </div>

    <div id="edit-product" class="edit-form-tab tab-pane fade">
        <form method="post" action="/product/stock/edit">
            <label>SELECT PRODUCT <i class="dropdown-arrow fal fa-chevron-down"></i></label>
            <select name="id" id="product_id">
                <option value="">-</option>
                <%_ products.forEach(item => { _%>
                <option value="<%= item._id %>"><%= item.name %></option>
                <%_ }) _%>
            </select>

            <label>PRODUCT NAME</label>
            <input type="text" name="name" id="product_name_edit" required>

            <fieldset>
                <div class="row">
                    <div class="col-sm-6">
                        <label>PRICE (£)</label>
                        <input type="number" name="price" id="price_edit" min="0.01" step="0.01" required>
                    </div>
                    <div class="col-sm-6">
                        <label>PRICE ON SALE (£)</label>
                        <input type="number" name="price_sale" id="price_sale_edit" min="0.01" step="0.01" required>
                    </div>
                </div>
            </fieldset>

            <label>TOTAL IN STOCK</label>
            <input type="number" name="stock_qty" id="stock_qty_edit" min="1" value="1" required>

            <label>PRODUCT TYPE <i class="dropdown-arrow fal fa-chevron-down"></i></label></label>
            <select name="category" id="product_category_edit" required>
                <option value="">Select category</option>
                <option value="lashes">Lashes</option>
                <option value="palettes">Palette</option>
            </select>

            <label>COLLECTION <span>(OPTIONAL)</span><i class="dropdown-arrow fal fa-chevron-down"></i></label></label>
            <select name="product_collection" id="product_collection_edit">
                <option value="">Select collection</option>
                <option value="original">Original</option>
                <option value="honey_drip">Honey Drip</option>
                <option value="emerald">Emerald</option>
            </select>

            <label>PRODUCT INFO <span>(OPTIONAL)</span></label>
            <textarea name="info" id="product_info_edit" rows="10"></textarea>

            <input type="submit" value="SAVE">
        </form>
    </div>

    <div id="remove-product" class="remove-form-tab tab-pane fade">
        <%_ if (products.length) { _%>
        <form action="/product/stock/remove" method="post">
            <label>DELETE PRODUCT(S) FROM STOCK</label><br><br>
            <%_ products.forEach((item, i) => {
                var product_collection = item.product_collection.split("_").map(char => char.charAt(0).toUpperCase() + char.slice(1).replace(/_/g, " ")).join(" ");
                product_collection = product_collection ? product_collection + " Collection" : "Others"; _%>
            <%- item.product_collection !== (products[i-1] || {}).product_collection ? '<div style="margin: .5em 0">'+product_collection+'</div>' : '' %>
            <div class="input-checkbox">
                <input type="checkbox" name="product<%= i %>" value="<%= item._id %>"> <span><%= item.name %></span>
            </div>
            <%_ }) _%>
            <br>
            <input type="submit" value="DELETE PRODUCTS">
        </form>
        <%_ } else { _%>
        <p style="text-align: center; margin-top: 2em"><b>NO SHOP PRODUCTS TO REMOVE</b></p>
        <%_ } _%>
    </div>
</div>
