<form method="post" action="/admin/sale/toggle/">
    <fieldset class="row" style="margin-bottom: 2em">
        <div class="col float-left">
            <label>SALE</label>
            <span class="switch-toggle-label">OFF</span>
            <label class="switch" id="sale-switch" style="margin: 0 5px">
                <input type="checkbox" name="sale_on" <%- !!sale ? 'checked' : '' %>>
                <span class="slider round"></span>
            </label>
            <span class="switch-toggle-label">ON</span>
        </div>

        <div class="col float-left">
            <label>SITE-WIDE</label>
            <span class="switch-toggle-label">NO</span>
            <label class="switch" id="sitewide-switch" style="margin: 0 5px">
                <input type="checkbox" name="sitewide" <%- !!sale_sitewide ? 'checked' : '' %> <%- !sale_sitewide ? 'disabled' : '' %>>
                <span class="slider round"></span>
            </label>
            <span class="switch-toggle-label">YES</span>
            <br><br>
            <div class="input-group">
                <input class="form-control" id="sitewide-sale-percentage" type="number" name="percentage" min="1" max="100" value="<%= sale_percentage || 0  %>" <%- !sale_sitewide ? 'disabled' : '' %>>
                <div class="input-group-append">
                    <span class="input-group-text">% off</span>
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset id="sale-end-date-section">
        <label>END OF SALE DATE & TIME <span class="margin">(24-HOUR FORMAT)</span></label>
        <%_
            const sale_datetime = !!sale ? sale_docs[0].end_datetime : new Date();
            const offset = sale_datetime.getTimezoneOffset();
            var sale_date = new Date(sale_datetime.getTime() - (offset * 60 * 1000));
            sale_date = sale_date.toISOString().split('T')[0];
        _%>
        <div class="input-group">
            <input class="form-control" type="date" name="end_date" id="sale-end-date" value="<%= sale_date %>" style="flex: 0 0 60%" required>
            <input class="form-control" type="number" name="end_hour" id="sale-end-hour" min="0" max="23" value="<%= !!sale ? sale_datetime.getHours() : 23 %>" required>
            <div class="input-group-append">
                <span class="input-group-text"><b>:</b></span>
            </div>
            <input class="form-control" type="number" name="end_minute" id="sale-end-minute" min="0" max="59" value="<%= !!sale ? sale_datetime.getMinutes() : 59 %>" required>
        </div>
    </fieldset>

    <fieldset id="sale-percentage-section">
        <%_ [...products, ...boxes].forEach((item, i, arr) => {
            const product_collection = item.product_collection?.replace(/_/g, " ").replace(/\b./g, m => m.toUpperCase());
            const category = item.category?.replace(/_/g, " ").replace(/\b./g, m => m.toUpperCase());
            const box_deals = item.collection.name === "boxes" ? "Box Deals" : "";
            const label = product_collection ? product_collection + " Collection" : box_deals || category || "Others"; _%>
        <%- (item.product_collection || item.category) !== (arr[i-1]?.product_collection || arr[i-1]?.category) ? '<label>'+label+'</label>' : '' %>
        <div class="row">
            <label class="col float-left">
                <span><%= item.name %></span>
            </label>
            <div class="col float-left">
                <input type="hidden" name="id" value="<%= item._id %>">
                <div class="input-group">
                    <input class="form-control" type="number" name="percentage" min="0" max="100" value="<%- !sale_sitewide && item.price_sale ? 100 - parseInt((item.price_sale / item.price) * 100) : 0  %>" <%- sale_sitewide ? 'disabled' : '' %> required>
                    <div class="input-group-append">
                        <span class="input-group-text">% off</span>
                    </div>
                </div>
            </div>
        </div>
        <%_ }); _%>
    </fieldset>

    <input type="submit" value="TURN ON / OFF">
</form>
<script>
    $("#sale-switch input").change(function() {
        $("#sitewide-switch input").prop("checked", false).trigger("change").attr("disabled", !this.checked);
        !this.checked && $("#sale-percentage-section input[type=number]").val(0);
    });

    $("#sitewide-switch input").change(function() {
        $("#sitewide-sale-percentage").attr("disabled", !this.checked).val(0);
        this.checked && $("#sale-percentage-section input[type=number]").val(0);
        $("#sale-percentage-section input").attr("disabled", this.checked);
    });
</script>