<form method="post" action="/admin/sale/toggle/">
    <div class="row" style="margin-bottom: 2em">
        <div class="col-xs-6">
            <label>SALE</label><br><br>
            <span class="switch-toggle-label">OFF</span>
            <label class="switch" id="sale-switch" style="margin: 0 5px">
                <input type="checkbox" name="sale_on" <%- !!sale ? 'checked' : '' %>>
                <span class="slider round"></span>
            </label>
            <span class="switch-toggle-label">ON</span>
        </div>
        <div class="col-xs-6">
            <label>SITE-WIDE</label><br><br>
            <span class="switch-toggle-label">NO</span>
            <label class="switch" id="sitewide-switch" style="margin: 0 5px">
                <input type="checkbox" name="sitewide" <%- !!sale_sitewide ? 'checked' : '' %> <%- !sale_sitewide ? 'disabled' : '' %>>
                <span class="slider round"></span>
            </label>
            <span class="switch-toggle-label">YES</span>
            <br><br>
            <input id="sitewide-sale-percentage" type="number" name="percentage" min="1" max="100" value="<%= sale_percentage || 0  %>" <%- !sale_sitewide ? 'disabled' : '' %> style="display: inline-block; width: 50px; margin: 0; padding: 5px; border-radius: 0"> % off
        </div>
    </div>
    <fieldset class="row">
        <label class="col-xs-12">
            END OF SALE DATE & TIME <span class="margin">(24-HOUR FORMAT)</span>
        </label>
        <div class="col-xs-6">
            <%_
                var sale_datetime = !!sale ? sale_docs[0].end_datetime : new Date();
                var offset = sale_datetime.getTimezoneOffset();
                var sale_date = new Date(sale_datetime.getTime() - (offset * 60 * 1000));
                sale_date = sale_date.toISOString().split('T')[0];
            _%>
            <input type="date" name="end_date" id="sale-end-date" value="<%= sale_date %>" required>
        </div>
        <div class="col-xs-6">
            <input type="number" class="inline" name="end_hour" id="sale-end-hour" min="0" max="23" value="<%= !!sale ? sale_datetime.getHours() : 23 %>" required> <b>:</b>
            <input type="number" class="inline" name="end_minute" id="sale-end-minute" min="0" max="59" value="<%= !!sale ? sale_datetime.getMinutes() : 59 %>" required>
        </div>
    </fieldset>
    <div class="row">
        <div class="col-xs-12">
            <%_ products.forEach((item, i) => {
                var product_collection = item.product_collection.split("_").map(char => char.charAt(0).toUpperCase() + char.slice(1).replace(/_/g, " ")).join(" ");
                var category = item.category.split("_").map(char => char.charAt(0).toUpperCase() + char.slice(1).replace(/_/g, " ")).join(" ");
                var group = product_collection ? product_collection + " Collection" : category ? category : "Others"; _%>
            <%- (item.product_collection || item.category) !== (products[i-1]?.product_collection || products[i-1]?.category) ? '<div style="padding: 1em 0; margin: 1em 0">'+group+'</div>' : '' %>
            <div class="input-checkbox">
                <div class="row">
                    <div class="col-xs-6">
                        <input class="sale-product" type="checkbox" name="id" value="<%= item._id %>" <%- !sale_sitewide && item.price_sale ? 'checked' : '' %> <%- !sale_sitewide && item.price_sale ? '' : 'disabled' %>> <span><%= item.name %></span>
                    </div>
                    <div class="col-xs-6">
                        <input class="sale-percentage" type="number" name="percentage" min="1" max="100" value="<%- !sale_sitewide && item.price_sale ? 100 - parseInt((item.price_sale / item.price) * 100) : 0  %>" <%- !sale_sitewide && item.price_sale ? 'checked' : '' %> <%- !sale_sitewide && item.price_sale ? '' : 'disabled' %> style="display: inline-block; width: 50px; margin: 0; padding: 5px; border-radius: 0" required> % off
                    </div>
                </div>
            </div>
            <%_ }); boxes.forEach((item, i) => {
                if (i == 0) { _%>
            <div style="padding: 1em 0; margin: 1em 0">Box Deals</div>
            <%_ } _%>
            <div class="input-checkbox">
                <div class="row">
                    <div class="col-xs-6">
                        <input class="sale-product" type="checkbox" name="id" value="<%= item._id %>" <%- !sale_sitewide && item.price_sale ? 'checked' : '' %> <%- !sale_sitewide && item.price_sale ? '' : 'disabled' %>> <span><%= item.name %></span>
                    </div>
                    <div class="col-xs-6">
                        <input class="sale-percentage" type="number" name="percentage" min="1" max="100" value="<%- !sale_sitewide && item.price_sale ? 100 - parseInt((item.price_sale / item.price) * 100) : 0  %>" <%- !sale_sitewide && item.price_sale ? 'checked' : '' %> <%- !sale_sitewide && item.price_sale ? '' : 'disabled' %> style="display: inline-block; width: 50px; margin: 0; padding: 5px; border-radius: 0" required> % off
                    </div>
                </div>
            </div>
            <%_ }); _%>
        </div>
    </div>
    <br><br>
    <input type="submit" value="TURN ON / OFF">
</form>
<script>
    $("#sale-switch input").change(function() {
        $("#sitewide-switch input").prop("checked", false).trigger("change").attr("disabled", !this.checked);
        $(".sale-product").prop("checked", false).attr("disabled", !this.checked).trigger("change");
    });

    $("#sitewide-switch input").change(function() {
        $("#sitewide-sale-percentage").attr("disabled", !this.checked).val("0");
        $(".sale-product").prop("checked", false).attr("disabled", this.checked).trigger("change");
    });

    $(".sale-product").change(function() {
        $(this).closest(".input-checkbox").find(".sale-percentage").attr("disabled", !this.checked);
    });
</script>