<div class="nav nav-pills justify-content-center">
    <a class="nav-link active" data-toggle="pill" href="#new-shipping-method">NEW</a>
    <a class="nav-link" data-toggle="pill" href="#edit-shipping-method">EDIT SHIPPING METHOD</a>
    <a class="nav-link" data-toggle="pill" href="#edit-s-and-d-info">EDIT PAGE INFO</a>
    <a class="nav-link" data-toggle="pill" href="#remove-shipping-method">REMOVE</a>
    <a class="nav-link" data-toggle="pill" href="#shipping-method-list">LIST</a>
</div>

<div class="tab-content" style="padding-top: 10px;">
    <div id="new-shipping-method" class="new-form-tab tab-pane fade show active">
        <form method="post" action="/shipping/add">
            <label>METHOD NAME</label>
            <input type="text" name="name" id="method_name" required>

            <label>FEE (£)</label>
            <input type="number" name="fee" id="method_fee" min="0.01" step="0.01" required>

            <label>INFO</label>
            <input type="text" name="info" id="method_info" required>

            <input type="submit" value="SAVE">
        </form>
    </div>

    <div id="edit-shipping-method" class="edit-form-tab tab-pane fade">
        <form method="post" action="/shipping/edit">
            <label>SELECT SHIPPING METHOD <i class="dropdown-arrow fal fa-chevron-down"></i></label>
            <select name="id" id="shipping_method_id">
                <option value="">-</option>
                <%_ shipping_methods.forEach(method => { _%>
                <option value="<%= method._id %>"><%= method.name %></option>
                <%_ }) _%>
            </select>

            <label>METHOD NAME</label>
            <input type="text" name="name" id="method_name_edit" required>

            <label>FEE (£)</label>
            <input type="number" name="fee" id="method_fee_edit" min="0.01" step="0.01" required>

            <label>INFO</label>
            <input type="text" name="info" id="method_info_edit" required>

            <input type="submit" value="SAVE">
        </form>
    </div>

    <div id="edit-s-and-d-info" class="edit-form-tab tab-pane fade">
        <form method="post" action="/shipping/page/edit">
            <fieldset>
                <legend>SHIPPING AND DELIVERY PAGE INFO</legend>
                <textarea name="info" id="shipping_page_info" rows="10"><%- shipping_page_info[0].info %></textarea>
            </fieldset>

            <input type="submit" value="SAVE">
        </form>
    </div>

    <div id="remove-shipping-method" class="remove-form-tab tab-pane fade">
        <%_ if (shipping_methods.length) { _%>
        <form action="/shipping/remove" method="post">
            <label>DELETE SHIPPING METHOD(S)</label>
            <%_ shipping_methods.forEach((method, i) => { _%>
            <div class="input-checkbox">
                <input type="checkbox" name="method<%= i %>" value="<%= method._id %>"><span><%= method.name %></span>
            </div>
            <%_ }) _%>
            <br>
            <input type="submit" value="DELETE SHIPPING METHODS">
        </form>
        <%_ } else { _%>
        <p class="no-removable-items-label"><b>NO SHIPPING METHODS TO REMOVE</b></p>
        <%_ } _%>
    </div>

    <style>#shipping-method-list td { width: 33.333% }</style>
    <div id="shipping-method-list" class="list-tab tab-pane fade">
        <%_ if (!shipping_methods.length) { _%>
        <p class="no-removable-items-label"><b>NO SHIPPING METHODS TO LIST</b></p>
        <%_ } else { _%>
        <div class='table-responsive'>
            <table id="products-table" class="table table-hover">
                <thead>
                    <tr>
                        <th>NAME</th>
                        <th>FEE</th>
                        <th>INFO</th>
                    </tr>
                </thead>
                <tbody>
                    <%_ shipping_methods.forEach((method, i) => { _%>
                    <tr>
                        <th scope="row"><%= method.name %></th>
                        <td id="fee-<%= i %>">£<%= (method.fee / 100).toFixed(2) %></td>
                        <td id="info-<%= i %>"><%= method.info %></td>
                    </tr>
                    <%_ }) _%>
                </tbody>
            </table>
        </div>
        <%_ } _%>
    </div>
</div>
