<div class="nav nav-pills justify-content-center">
    <a class="nav-link active" data-toggle="pill" href="#new-subscription">NEW</a>
    <a class="nav-link" data-toggle="pill" href="#edit-subscription">EDIT</a>
    <a class="nav-link" data-toggle="pill" href="#remove-subscription">REMOVE</a>
    <a class="nav-link" data-toggle="pill" href="#subscription-page-info">PAGE INFO</a>
    <a class="nav-link" data-toggle="pill" href="#subscription-list">LIST</a>
</div>

<div class="tab-content" style="padding-top: 10px;">
    <div id="new-subscription" class="new-form-tab tab-pane fade show active">
        <form method="post" action="/subscription/add">
            <fieldset>
                <div class="row">
                    <div class="col-6 float-left">
                        <label>NUMBER OF TIMES</label>
                        <input type="number" name="interval_count" id="sub_interval_count" min="1" max="365" value="1" required>
                    </div>
                    <div class="col-6 float-left">
                        <label>PER MONTH, YEAR, etc.</label>
                        <select name="interval" id="sub_interval" required>
                            <option value="">-</option>
                            <option value="month" selected>Month</option>
                            <option value="year">Year</option>
                        </select>
                    </div>
                </div>
            </fieldset>

            <label>PRICE (£)</label>
            <input type="number" name="price" id="sub_price" min="1" step="0.01" required>

            <label>INFO <span>(OPTIONAL)</span></label>
            <textarea name="info" id="sub_info" rows="10"></textarea>

            <label>IMAGE</label>
            <fieldset class="file-upload-container">
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="plan_image_file" accept="image/*" data-fieldname="image_file">
                        <label class="custom-file-label">Upload image</label>
                    </div>
                    <input type="hidden" name="image_file">
                    <div class="input-group-append">
                        <button class="clear-uploads btn" type="button" data-id="plan_image_file">CLEAR</button>
                    </div>
                </div>
                <input type="url" name="image_url" id="plan_image_url" placeholder="Or enter the image URL">
            </fieldset>

            <input type="submit" value="SAVE">
        </form>
    </div>

    <div id="edit-subscription" class="edit-form-tab tab-pane fade">
        <form method="post" action="/subscription/edit">
            <label>SELECT SUBSCRIPTION PLAN <i class="dropdown-arrow fal fa-chevron-down"></i></label>
            <select name="id" id="subscription_plan_id">
                <option value="">-</option>
                <%_ subscription_plans.forEach(plan => { _%>
                <option value="<%= plan._id %>"><%= plan.name %> Plan</option>
                <%_ }) _%>
            </select>

            <fieldset>
                <div class="row">
                    <div class="col-6 float-left">
                        <label>NUMBER OF TIMES</label>
                        <input type="number" name="interval_count" id="sub_interval_count_edit" min="1" max="365" value="1">
                    </div>
                    <div class="col-6 float-left">
                        <label>PER MONTH, YEAR, etc.</label>
                        <select name="interval" id="sub_interval_edit">
                            <option value="">-</option>
                            <option value="month" selected>Month</option>
                            <option value="year">Year</option>
                        </select>
                    </div>
                </div>
            </fieldset>

            <label>PRICE (£)</label>
            <input type="number" name="price" id="sub_price_edit" min="1" step="0.01">

            <label>INFO <span>(OPTIONAL)</span></label>
            <textarea name="info" id="sub_info_edit" rows="10"></textarea>

            <label>IMAGE</label>
            <fieldset class="file-upload-container">
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="plan_image_file_edit" accept="image/*" data-fieldname="image_file">
                        <label class="custom-file-label">Upload image</label>
                    </div>
                    <input type="hidden" name="image_file">
                    <div class="input-group-append">
                        <button class="clear-uploads btn" type="button" data-id="plan_image_file_edit">CLEAR</button>
                    </div>
                </div>
                <input type="url" name="image_url" id="plan_image_url_edit" placeholder="Or enter the image URL">
            </fieldset>

            <input type="submit" value="UPDATE">
        </form>
    </div>

    <div id="remove-subscription" class="remove-form-tab tab-pane fade">
        <%_ if (subscription_plans.length) { _%>
        <form action="/subscription/remove" method="post">
            <label>DELETE SUBSCRIPTION PLAN(S)</label>
            <%_ subscription_plans.forEach((plan, i) => { _%>
            <div class="input-checkbox">
                <input type="checkbox" name="plan<%= i %>" value="<%= plan._id %>"><span><%= plan.name %> Plan</span>
            </div>
            <%_ }) _%>
            <br>
            <input type="submit" value="DELETE PLAN(S)">
        </form>
        <%_ } else { _%>
        <p class="no-removable-items-label"><b>NO SUBSCRIPTION PLANS TO REMOVE</b></p>
        <%_ } _%>
    </div>

    <div id="subscription-page-info" class="tab-pane fade">
        <form action="/subscription/page/info">
            <label>PAGE INFO</label>
            <textarea name="info" id="sub_page_info" rows="10"><%- (subscription_page[0] || {}).info %></textarea>
            <input type="submit" value="UPDATE">
        </form>
    </div>

    <div id="subscription-list" class="list-tab tab-pane fade">
        <div class="info-label">
            <i class="fal fa-info-circle info-icon"></i>
            <b><i class="fal fa-search"></i> = Click to view details</b>
        </div>
        <%_ if (!subscription_plans.length) { _%>
        <p class="no-removable-items-label"><b>NO SUBSCRIPTION PLANS TO LIST</b></p>
        <%_ } else { _%>
        <div class='table-responsive'>
            <table id="products-table" class="table table-borderless table-hover">
                <thead>
                    <tr>
                        <th>PLAN</th>
                        <th>PRICE</th>
                        <th>TOTAL SUBSCRIBERS</th>
                    </tr>
                </thead>
                <tbody>
                    <%_ subscription_plans.forEach((plan, i) => { _%>
                    <tr>
                        <th scope="row"><%= plan.name %> Plan</th>
                        <td id="sub-price-<%= i %>">£<%= (plan.price / 100).toFixed(2) %></td>
                        <td id="subscriber-count-<%= i %>">
                            <%_ const filter = n => RegExp(`^${plan.name.replace("-", "\\-")}`).test(n); _%>
                            <span class="value">
                                <%= subscription_products.data.map(p => p.name).filter(filter).length %>
                            </span>
                            <a data-toggle="modal" data-target="#plan-subscribers-modal-<%= i %>">
                                <i class="fal fa-search modal-toggler"></i>
                            </a>

                            <div id="plan-subscribers-modal-<%= i %>" class="modal fade" role="dialog">
                                <div class="modal-dialog modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-icons">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="container">
                                                <h1 class="modal-title"><%= plan.name %> Subscription Members</h1>
                                                <div class="row">
                                                    <%_ const products = subscription_products.data.filter(s => RegExp(`^${plan.name}`).test(s.name));
                                                        const subs = subscriptions_all.data.filter(s => s.items.data.find(itm => products.map(p => p.id).includes(itm.price.product)));
                                                        if (!subs.length) { _%>
                                                    <h2>No members</h2>
                                                    <%_ } subs.forEach(sub => { _%>
                                                    <div class="col-md-4 col-sm-6 float-left">
                                                        <div class="subscriber-details">
                                                            <p><b><%- sub.customer.name; %></b></p>
                                                            <p><%- sub.customer.email; %></p>
                                                            <p><%- sub.customer.shipping.address.line1; %></p>
                                                            <%- sub.customer.shipping.address.line2 ? `<p>${sub.customer.shipping.address.line2}</p>` : ""; %>
                                                            <p><%- sub.customer.shipping.address.city +", "+ (sub.customer.shipping.address.state ? `${sub.customer.shipping.address.state}, ` : "") + sub.customer.shipping.address.country; %></p>
                                                            <p><%- sub.customer.shipping.address.postal_code; %></p>
                                                            <p><small>Date joined: <%- new Date(sub.created * 1000).toLocaleDateString(undefined, { day: "numeric", month: "long", year: "numeric" }); %></small></p>
                                                            <p><small style="opacity: .5"><a href="<%- sub.latest_invoice.hosted_invoice_url %>">View latest invoice</a></small></p>
                                                        </div>
                                                    </div>
                                                    <%_ }) _%>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <%_ }) _%>
                </tbody>
            </table>
        </div>
        <%_ } _%>
    </div>
</div>
